@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()
@(calculatorResponseDto: CalculatorResponseDto)(implicit messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util._

<h2 class="heading-medium">@messages("label.breakdown_of_tax_and_duty_due")</h2>

<table class="responsive-table">
    <thead>
    <tr>
        <th scope="col" id="item">@messages("label.item")</th>
        <th class="numeric" scope="col" id="customs">
            <span >@messages("label.customs")</span>
        </th>
        <th class="numeric" scope="col" id="excise">
            <span >@messages("label.excise_val")</span>
        </th>
        <th class="numeric" scope="col" id="vat">
            <span >@messages("label.vat")</span>
        </th>
    </tr>
    </thead>
    <tbody>
    @calculatorResponseDto.items.map { item =>
    <tr>
        <th scope="row">
            <span class="table-heading" aria-hidden="true">@messages("label.item")</span>
            @messages(item.metadata.description)
        </th>
        <td class="numeric">
            <span class="table-heading" aria-hidden="true">@messages("label.customs")</span>
            &pound;@formatMonetaryValue(item.calculation.customs)
        </td>
        <td class="numeric">
            <span class="table-heading" aria-hidden="true">@messages("label.excise_val")</span>
            &pound;@formatMonetaryValue(item.calculation.excise)
        </td>
        <td class="numeric">
            <span class="table-heading" aria-hidden="true">@messages("label.vat")</span>
            &pound;@formatMonetaryValue(item.calculation.vat)
        </td>
    </tr>
    }
    </tbody>
</table>
