@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@(field: Field, radioOptions: Seq[(String, String)], args: (Symbol, Any)*)(implicit messages: Messages)

    @import play.api.i18n._
    @import views.html.helper._

    @elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }
    @fieldsetClass = {@elements.args.get('_groupClass)}
    @labelAfter = @{ elements.args.get('_labelAfter).getOrElse(false).asInstanceOf[Boolean] }

    @dataTarget(value: String) = {
        @elements.args.get(Symbol(value)).map{ _ =>
            data-target="@value"
        }
    }

    <div id="@elements.field.name" class="form-group @if(elements.hasErrors){ form-group-error} @if(elements.args.contains('_inline)){inline}">

        @elements.errors.map{error =>
            <span class="error-message" @if(elements.args.contains('_error_id)) {
            id="@elements.args.get('_error_id)" }>
                @if(elements.args.contains('_errorPrefix) ){<span class="visually-hidden">@elements.args.get('_errorPrefix) </span>}
                @Messages(error)
            </span>
        }

        @radioOptions.map { case (value, label) =>
        @defining(s"${elements.field.name}-${value.toLowerCase.replace(" ","_")}")  { inputId =>
        <div class="multiple-choice" @dataTarget(value)>
            <input
                type="radio"
                id="@inputId"
                name="@elements.field.name"
                value="@value"
                @elements.args.get('_inputClass).map{inputClass => class="@inputClass"}
                @if(elements.args.get('_error_id).isDefined) { aria-labeledby="@elements.args.get('_error_id)" }
                @if(elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
                @field.value.filter( _ == value).map{_ => checked="checked"}/>

                <label for="@inputId"
                     @elements.args.get('_labelClass).map{labelClass => class="@labelClass@field.value.filter( _ == value).map{_ => selected}"}>
                     @if(!labelAfter) {
                        @if(elements.args.get('_stackedLabel)) {
                          @if(label.split(" ").length < 2) {<br>@label
                          } else {
                            @for( (l, index) <- label.split(" ").zipWithIndex) {
                              @if(index != 0) {<br>}@l
                            }
                          }
                        } else { @label }
                     }

                      @if(labelAfter) {
                        @if(elements.args.get('_stackedLabel)) {
                          @if(label.split(" ").length < 2) {<br>@label
                          } else {
                            @for( (l, index) <- label.split(" ").zipWithIndex) {
                              @if(index != 0) {<br>}@l
                              }
                            }
                          } else { @label }
                        }

                </label>

      </div>
        @elements.args.get(Symbol(value)).map{label => <br>
            <div id="@value" class="panel panel-indent panel-border-narrow js-hidden">@label</div>
        }
      }
    }

    </div>
