@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(
  field: Field,
  inputs: List[(String, String)],
  path: Option[ProductPath] = None
)(implicit messages: Messages)

<div class="form-field @if(field.hasErrors){form-group-error}" id="@field.id">

  @field.errors.map { error =>
    <span class="error-message" id="error-message-@field.id-input">
      @{path match {
        case Some(path) => messages(s"${error.message}.${path.toMessageKey}")
        case None => messages(error.message) }
      }

    </span>
  }

  @for(((label, v), i) <- inputs.zipWithIndex) {
    <div class="multiple-choice">
      <input id="@v" type="checkbox" name="@field(s"[$i]").name" value="@v" data-journey-click="bc_passengers-frontend:click:@v" />
      <label for="@v">@messages("select_products."+label)</label>
    </div>
  }

</div>
