@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(govukErrorSummary: GovukErrorSummary)

@(errors: Seq[FormError], errorFieldSuffix: Option[String] = None, errorId: Option[String] = None)(implicit messages: Messages)

    @if(errors.nonEmpty) {
        @defining(errors.map { error =>
            val id = if(error.key == "") { errorId.getOrElse("") } else {
                error.key + errorFieldSuffix.fold("")(suffix => s"-error")
            }
            ErrorLink(
                href = Some(s"#$id"),
                content = Text(messages(s"${error.message}.${errorFieldSuffix.getOrElse("")}"))
            )
        }) { errorLinks =>
            @govukErrorSummary(ErrorSummary(
                errorList = errorLinks,
                title = Text(messages("error.summary.title"))
            ))
        }
    }
