@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@(field: play.api.data.Field, elementOptions: Seq[(String, String)], displayEmptyValue: Boolean, args: (Symbol,Any)*)(implicit messages: Messages)

@import play.api.i18n._
@import views.html.helper._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, messages) }

@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}


<div class="form-group @if(elements.hasErrors){ form-group-error }">

    <label for="@elements.field.name" class="@elements.args.get('_labelClass) @elements.args.get('_groupClass)">
        <span @if(elements.args.contains('_labelTextClass)) { class="@elements.args.get('_labelTextClass)"}>
            @elements.label
        </span>
    </label>

    @if(elements.args.contains('_inputHint) ){
        <span id="hint-@elements.field.name" class="form-hint">
            @elements.args.get('_inputHint)
        </span>
    }

    @if(elements.args.contains('_additionalTitleText)){<p>@elements.args.get('_additionalTitleText)</p>}
    @if(elements.args.contains('_errorsAboveInput)){
        @elements.errors.map { error => <span style="display: block" class="error-message">@Messages(error)</span>}
    }
    <select aria-describedby="hint-@elements.field.name" id="@elements.field.name" name="@elements.field.name" class="@elements.args.get('_selectClass)">
        @if(displayEmptyValue) {
            <option value="">@elements.args.get('_emptyValueText)</option>
        }
        @for(option <- elementOptions) {
            <option
                    id="@elements.field.name-@(option._1.toLowerCase.map(x => if(x == ' ') '-' else x).filterNot(x => "()".contains(x)))"
                    value="@option._1"
            @if(value==option._1){selected="selected"}
            >@option._2</option>
        }
    </select>
    @if(!elements.args.contains('_errorsAboveInput)){
        @elements.errors.map { error => <span style="display: block" class="error-notification">@Messages(error)</span>}
    }

</div>
