@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@(form:Form[_], fieldName: String, args: (Symbol,Any)*)(implicit messages: Messages)

@import uk.gov.hmrc.play.mappers.DateFields._
@import play.api.i18n._
@import uk.gov.hmrc.play.mappers.DateFormatSymbols._

@fieldsetClasses = @{if(form(fieldName).hasErrors) "form-group-error" else "" }

@field = @{form(s"${fieldName}.halfday")}
@halfdayValue = @{ field.value match { case Some(x) => x case None => "" case x => x }}

<div class="form-group @fieldsetClasses">
  <fieldset class="form-date" id="@fieldName">

    <legend class="@args.toMap.get('_legendClass).map { legendClass => @legendClass}">
      <span class="@args.toMap.get('_legendSpanClass).map { legendSpanClass => @legendSpanClass}">
          @args.toMap.get('_legend).map { legend => @legend}
      </span>
      @args.toMap.get('_inputHint).map { hint =>
        <span class="form-hint">@hint</span>
      }
      @form.errors.filter(_.key == fieldName).map { error => <span class="error-message">@Messages(error.message)</span>}
    </legend>

    @input(
      form(s"${fieldName}.hour"),
      '_label -> Messages("time.fields.hour"),
      '_labelClass -> "form-group form-group-day",
      '_inputClass -> "form-control input--xsmall",
      '_emptyValueText -> " ",
      '_type -> "tel",
      '_maxlength -> "2",
      '_hideErrors -> " ",
      '_hideBar -> " "
    )

    @input(
      form(s"${fieldName}.minute"),
      '_label -> Messages("time.fields.minute"),
      '_labelClass -> "form-group form-group-month",
      '_inputClass -> "form-control input--xsmall",
      '_emptyValueText -> " ",
      '_type -> "tel",
      '_maxlength -> "2",
      '_hideErrors -> " ",
      '_hideBar -> " "
    )

    <div class="form-group form-group-time-am-pm">
      <label class="form-label" for="am_pm">@Messages("time.fields.am-pm")
      <select type="text" class="form-control" id="am_pm" name=@{s"${fieldName}.halfday"}>
        <option></option>
        <option value="am" @{if(halfdayValue=="am")"selected"}>am</option>
        <option value="pm" @{if(halfdayValue=="pm")"selected"}>pm</option>
      </select>
      </label>
    </div>

  </fieldset>
</div>
