@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(countryForm: Form[SelectedCountryDto], product: ProductTreeLeaf, path: ProductPath, iid: String, countries: List[Country], descriptionArgs: Option[(String, List[String])])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import play.api.libs.json.{JsObject, Json}

@scriptElem={
  <script src="@routes.Assets.at("javascripts/accessible-autocomplete.min.js")"></script>
  <script>
    $(document).ready(function () {
      var countrySynonymsData = @Html( Json.toJson(countries.map(_.toAutoCompleteJson)).toString )
      enhanceSelectIntoAutoComplete("country", countrySynonymsData)
    })
  </script>
}

@linkElem={
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/accessible-autocomplete.min.css")" >
}

@pageTitle = {
  @messages(s"label.page_title.where_did_you_buy_.${path.toMessageKey}")
}

@main_template(title = pageTitle.toString, inlineScript = Some(scriptElem), inlineLinkElem = Some(linkElem)) {

  @views.html.tags.errors(countryForm)

  @descriptionArgs.map { case (key, args) =>
    <h1 class="heading-xlarge">@messages("label.tobacco.where_did_you_buy_the_", messages(key, args: _*))</h1>
  }

  @form(action = routes.TobaccoInputController.processCountryInput(path, iid)){

    @components.select(
      field = countryForm("country"),
      elementOptions = ("","") :: countries.map(c => (c.countryName,c.countryName)),
      displayEmptyValue = true,
      '_label -> Messages("label.enter_country"),
      '_errorsAboveInput -> true
    )

    <div class="form-group">
      <button type="submit" class="button">@messages("label.continue")</button>
    </div>

  }
}
