@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(tobacco_input: views.html.tobacco.tobacco_input, formHelper: FormWithCSRF, inputText: components.inputText)
@(form: Form[TobaccoDto], product: ProductTreeLeaf, path: ProductPath, iid: Option[String], countries: List[Country], countriesEU: List[Country], currencies: List[Currency], journeyStart: Option[String])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@tobacco_input(form, product, path, iid, countries, countriesEU, currencies, journeyStart) {

    @inputText(
        form,
        id = "noOfSticks",
        name = "noOfSticks",
        label = messages(s"label.total_number_of_" + path.toMessageKey),
        hint = Some(Html(messages("label.you_cannot_use_this_service_"))),
        isPageHeading = false,
        classes = Some("govuk-input govuk-!-width-one-half")
    )

}
