@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(noOfSticksWeightForm: Form[NoOfSticksAndWeightDto], token: String, productName: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("tobacco.no_of_sticks_weight_input.heading", productName.toLowerCase()), bodyClasses = None) {

  @form(action = routes.TobaccoInputController.processNoOfSticksWeightInput(path, iid)){

    <fieldset>
      <legend><h1 class="heading-xlarge">@messages("tobacco.no_of_sticks_weight_input.heading", productName.toLowerCase())</h1></legend>

        <div class="panel panel-border-wide" id="panel">
            <p>@messages(s"tobacco.no_of_sticks_weight_input.panel.${token}.1")</p>
            <p>@messages(s"tobacco.no_of_sticks_weight_input.panel.${token}.2")</p>
        </div>

        <div class="form-group">
          @input(
            noOfSticksWeightForm("noOfSticks"),
            '_label -> messages("label.number_of_", productName.toLowerCase()),
            '_labelTextClass -> "form-label",
            '_inputClass -> "form-control-1-8"
          )
        </div>

        <div class="form-group">
          @input(
          noOfSticksWeightForm("weight"),
          '_label -> messages("label.weight_of_", productName.toLowerCase()),
          '_labelClass -> "inline",
          '_labelTextClass -> "form-label",
          '_inputClass -> "form-control-1-8"
          )
          <span>g</span>
        </div>

        <details class="form-group">
            <summary><span class="summary">@messages("label.if_you_do_not_know_the_number_or_weight")</span></summary>
            <div class="panel panel-border-narrow">
                <p>@messages("label.you_cannot_use_this_service_")</p>
            </div>
        </details>

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    </fieldset>
  }

}
