@(noOfSticksForm: Form[NoOfSticksDto], token: String, productName: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("tobacco.no_of_sticks_input.heading", productName.toLowerCase()), bodyClasses = None) {


  @helpers.form(action = routes.TobaccoInputController.processNoOfSticksInput(path, iid)) {

    <h1 class="heading-xlarge">@messages("tobacco.no_of_sticks_input.heading", productName.toLowerCase())</h1>

    <div class="panel panel-border-wide" id="panel">
        <p>@messages(s"tobacco.no_of_sticks_input.panel.${token}.1")</p>
        <p>@messages(s"tobacco.no_of_sticks_input.panel.${token}.2")</p>
    </div>

    <div class="form-group">
        @helpers.input(
            noOfSticksForm("noOfSticks"),
            '_label -> messages("tobacco.no_of_sticks_input.form.label", productName.toLowerCase()),
            '_labelTextClass -> "form-label",
            '_inputClass -> "form-control-1-8"
        )
    </div>

    <details class="form-group">
      <summary><span class="summary">@messages("hidden_text.no_of_sticks_input.summary")</span></summary>
      <div class="panel panel-border-narrow">
        <p>@messages("hidden_text.you_cant_use_service")</p>
      </div>
    </details>

    <div class="form-group">
        <input type="submit" class="button" value="Continue">
    </div>
  }
}
