@(weightForm: Form[WeightDto], token: String, productName: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("label.what_is_the_weight_of_", productName.toLowerCase()), bodyClasses = None) {

  <h1 class="heading-xlarge">@messages("label.what_is_the_weight_of_", productName.toLowerCase())</h1>

  @helpers.form(action = routes.TobaccoInputController.processWeightInput(path, iid)){

    <div class="panel panel-border-wide" id="panel">
        <p>@messages(s"tobacco.weight_input.panel.${token}.1")</p>
        <p>@messages(s"tobacco.weight_input.panel.${token}.2")</p>
    </div>

      <div class="form-group">
          @helpers.input( weightForm("weight"),
          '_label -> messages("label.weight_of_", productName.toLowerCase()),
          '_labelClass -> "inline",
          '_labelTextClass -> "form-label",
          '_inputClass -> "form-control-1-8"
          )
          <span>g</span>
      </div>

    <details class="form-group">
        <summary><span class="summary">@messages("label.if_you_do_not_know_the_weight")</span></summary>
        <div class="panel panel-border-narrow">
            <p>@messages("label.you_cannot_use_this_service_")</p>
        </div>
    </details>

    <div class="form-group">
        <input type="submit" class="button" value="Continue">
    </div>
  }

}
