@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(weightForm: Form[WeightDto], token: String, productName: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("label.how_much_", productName.toLowerCase()), bodyClasses = None) {

  @views.html.tags.errors(weightForm, Some(path))

  <h1 class="heading-xlarge">@messages("label.how_much_", productName.toLowerCase())</h1>

  <div class="panel panel-border-wide" id="panel">
    <p>@messages(s"tobacco.weight_input.panel.${token}.1")</p>
    <p>@messages(s"tobacco.weight_input.panel.${token}.2")</p>
  </div>

  @form(action = routes.TobaccoInputController.processWeightInput(path, iid)){

    <div class="form-group">
      @components.input(
        weightForm("weight"),
        '_label -> messages("label.weight_of_", productName.toLowerCase()),
        '_labelTextClass -> "form-label",
        '_inputClass -> "form-control-1-8",
        '_productName -> path.toMessageKey,
        '_inputSuffix -> "g"
      )
    </div>

    <details class="form-group">
        <summary><span class="summary">@messages("label.if_you_do_not_know_the_weight")</span></summary>
        <div class="panel panel-border-narrow">
            <p>@messages("label.you_cannot_use_this_service_")</p>
        </div>
    </details>

    <div class="form-group">
        <input type="submit" class="button" value="Continue">
    </div>
  }

}
