@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(f: Form[EnterYourDetailsDto])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("label.enter_your_details"), bodyClasses = None) {

  <a class="link-back" id="back" href="@routes.DeclarationController.declareYourGoods()">@messages("label.back")</a>

  @views.html.tags.errors(f)

  <h1 class="heading-xlarge">@messages("label.enter_your_details")</h1>

  @form(action = routes.DeclarationController.processEnterYourDetails) {

      @components.input(
        f("firstName"),
        '_label -> messages("label.first_name"),
        '_labelTextClass -> "form-label-bold",
        '_inputClass -> "form-control-3-4"
      )

      @components.input(
        f("lastName"),
        '_label -> messages("label.last_name"),
        '_labelTextClass -> "form-label-bold",
        '_inputClass -> "form-control-3-4"
      )

      @components.input(
        f("passportNumber"),
        '_label -> messages("label.passport_number"),
        '_labelTextClass -> "form-label-bold",
        '_inputClass -> "form-control-3-4"
      )

      @components.input(
        f("placeOfArrival"),
        '_label -> messages("label.place_of_arrival"),
        '_labelTextClass -> "form-label-bold",
        '_inputHint -> messages("label.for_example_heathrow_airport_or_dover"),
        '_inputClass -> "form-control-3-4"
      )

      <div class="form-group @{if(f("dateTimeOfArrival").hasErrors) "form-group-error" else "" }" id="dateTimeOfArrival">

          @f.errors.filter(_.key == "dateTimeOfArrival").map { error =>
            <span class="error-message">@messages(error.message)</span>
          }

          @components.dateFieldsFreeInlineLegend(
            f,
            "dateTimeOfArrival.dateOfArrival",
            '_inputHint -> messages("label.for_example_31_10_2018"),
            '_legendSpanClass -> "form-label-bold",
            '_legend -> messages("label.date_of_arrival")
          )

          @components.timeFieldsFreeInlineLegend(
            f,
            "dateTimeOfArrival.timeOfArrival",
            '_inputHint -> messages("label.for_example_930"),
            '_legendSpanClass -> "form-label-bold",
            '_legend -> messages("label.time_of_arrival")
          )

      </div>

      <div class="form-group">
        <button type="submit" class="button">@messages("label.continue")</button>
      </div>

  }
}
