@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template)
@(userInformation: Option[UserInformation], calculatorResponse: CalculatorResponse, calculatorResponseDto: CalculatorResponseDto, chargeReference: String, placeOfArrivalValue: String)(implicit request: Request[_], messages: Messages)

@import util._

@main_template(title = messages("heading.declaration_complete")) {

  <div class="govuk-panel govuk-panel--confirmation">
     <h1 class="govuk-panel__title font-size-48">
       @messages("heading.declaration_complete")
     </h1>
     <div class="govuk-panel__body font-size-36">
       <div>@messages("heading.reference_number")</div>
       <div class="bold">@chargeReference</div>
       <strong></strong>
     </div>
  </div>

  <p>@messages("label.declaration.note_reference_number")</p>

  <p>@messages("label.declaration.provided_email_address")</p>

  <table>
     <tbody>
       <tr>
          <td class="bold">@messages("label.name")</td>
          <td>@userInformation.get.firstName @userInformation.get.lastName</td>
       </tr>

       <tr>
          <td class="bold">@messages("label.place_of_arrival_uk")</td>
          <td>@messages(placeOfArrivalValue)</td>
       </tr>

       <tr>
          <td class="bold">@messages("label.date_of_arrival")</td>
          <td>@userInformation.get.dateOfArrival.toString("dd MMMM YYYY")</td>
       </tr>

       <tr>
          <td class="bold">@messages("label.time_of_arrival")</td>
          <td>@userInformation.get.timeOfArrival.toString("hh:mm aa")</td>
       </tr>

       <tr>
          <td class="bold">@messages("label.reference_number")</td>
          <td>@chargeReference</td>
       </tr>

       <tr>
          <td class="bold">@messages("label.amount_paid")</td>
          <td class="bold">&pound;@formatMonetaryValue(calculatorResponse.calculation.allTax)</td>
       </tr>
     </tbody>
  </table>

  <h2>@messages("label.items_declared")</h2>

  <table class="responsive-table" role="grid">
    <thead>
    <tr role="row">
        <th scope="col">@messages("label.item")</th>
        <th scope="col">@messages("label.price")</th>
        <th scope="col">@messages("label.purchased_in")</th>
        <th class="numeric" scope="col">
            <span class="table-25">@messages("label.tax_paid")</span>
        </th>
    </tr>
    </thead>
    <tbody>
    @calculatorResponseDto.items.map { item =>
    <tr role="row">
        <th scope="row" role="gridcell">
            <span class="table-heading" aria-hidden="true">@messages("label.item")</span>
            @messages(item.metadata.description)
        </th>
        <td role="gridcell">
            <span class="table-heading" aria-hidden="true">@messages("label.price")</span>
            @formatMonetaryValue(item.metadata.cost) @messages(item.metadata.currency.displayName)
        </td>
        <td role="gridcell">
            <span class="table-heading" aria-hidden="true">@messages("label.purchased_in")</span>
            @messages(item.metadata.country.countryName)
        </td>
        <td role="gridcell" class="numeric">
            <span class="table-heading" aria-hidden="true">@messages("label.tax_due")</span>
            &pound;@formatMonetaryValue(item.calculation.allTax)
        </td>
    </tr>
    }
    </tbody>
</table>

  <div class="table-foot margin-bottom-30">
    <span class="total">@messages("label.total")</span>
    <span class="total-value numeric">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.allTax)</span>
  </div>

  <h2>@messages("label.payment_breakdown")</h2>
  <table>
    <thead>
    <tr role="row">
        <th scope="col">@messages("label.tax_type")</th>
        <th class="numeric" scope="col">
            <span class="table-25">@messages("label.amount_paid")</span></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>@messages("label.customs")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.customs)</td>
    </tr>

    <tr>
        <td>@messages("label.excise_val")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.excise)</td>
    </tr>

    <tr>
        <td>@messages("label.vat")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.vat)</td>
    </tr>
    </tbody>
  </table>
  <div class="table-foot margin-bottom-30">
    <span class="total">@messages("label.total")</span>
    <span class="total-value numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.allTax)</span>
  </div>


  <div class="panel panel-border-wide margin-top-30">@messages("label.declaration.no_tax_duty")</div>

  <h2 class="heading-medium">@messages("heading.what_to_do_in_uk")</h2>

  <p>@messages("label.declaration.go_to_green")</p>

  <h2 class="heading-medium">@messages("heading.amending_declaration")</h2>

  <p>@messages("label.declaration.use_online_service")</p>

  <p>@messages("label.declaration.goods_to_declare")</p>

  <p>@messages("label.declaration.remove_goods")
   <a href="https://www.gov.uk/guidance/refunds-and-waivers-on-customs-debt" target="_blank">@messages("text.read_more_about_refunds")</a></p>
  <br>

  <p>
    <a href="https://www.gov.uk/guidance/refunds-and-waivers-on-customs-debt" target="_blank">@messages("label.declaration.what_you_think_of_service")</a>
      @messages("label.declaration.take_x_seconds")
  </p>




}
