@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template)
@(userInformation: Option[UserInformation], calculatorResponse: CalculatorResponse, calculatorResponseDto: CalculatorResponseDto, chargeReference: String, placeOfArrivalValue: String)(implicit request: Request[_], messages: Messages)

@import util._

@main_template(title = messages("heading.declaration_complete")) {

  <div class="govuk-panel govuk-panel--confirmation">
     <h1 class="govuk-panel__title font-size-48">
       @messages("heading.declaration_complete")
     </h1>
     <div class="govuk-panel__body font-size-36">
       <div>@messages("heading.reference_number")</div>
       <div class="bold">@chargeReference</div>
       <strong></strong>
     </div>
  </div>

  <p>@messages("label.declaration.note_reference_number")</p>

  <p>@messages("label.declaration.provided_email_address")</p>

  <body class="govuk-template__body app-example-page">
  <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.name")
          </dt>
          <dd class="govuk-summary-list__value">
              @userInformation.get.firstName @userInformation.get.lastName
          </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.place_of_arrival_uk")
          </dt>
          <dd class="govuk-summary-list__value">
              @messages(placeOfArrivalValue)
          </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.date_of_arrival")
          </dt>
          <dd class="govuk-summary-list__value">
              @userInformation.get.dateOfArrival.toString("dd MMMM YYYY")
          </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.time_of_arrival")
          </dt>
          <dd class="govuk-summary-list__value">
              @userInformation.get.timeOfArrival.toString("hh:mm aa")
          </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.reference_number")
          </dt>
          <dd class="govuk-summary-list__value">
              @chargeReference
          </dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key bold">
              @messages("label.amount_paid")
          </dt>
          <dd class="govuk-summary-list__value bold">
              &pound;@formatMonetaryValue(calculatorResponse.calculation.allTax)
          </dd>
      </div>
  </dl>

  <h2>@messages("label.items_declared")</h2>

  <table class="responsive-table">
    <thead>
    <tr>
        <th scope="col">@messages("label.item")</th>
        <th scope="col">@messages("label.price")</th>
        <th scope="col">@messages("label.purchased_in")</th>
        <th class="numeric" scope="col">
            <span class="table-25">@messages("label.tax_paid")</span>
        </th>
    </tr>
    </thead>
    <tbody>
    @calculatorResponseDto.items.map { item =>
    <tr>
        <th scope="row">
            <span class="table-heading" aria-hidden="true">@messages("label.item")</span>
            @messages(item.metadata.description)
        </th>
        <td>
            <span class="table-heading" aria-hidden="true">@messages("label.price")</span>
            @formatMonetaryValue(item.metadata.cost) @messages(item.metadata.currency.displayName)
        </td>
        <td>
            <span class="table-heading" aria-hidden="true">@messages("label.purchased_in")</span>
            @messages(item.metadata.country.countryName)
        </td>
        <td class="numeric">
            <span class="table-heading" aria-hidden="true">@messages("label.tax_due")</span>
            &pound;@formatMonetaryValue(item.calculation.allTax)
        </td>
    </tr>
    }
    <tr>
        <td class="total table-foot" colspan="3">@messages("label.total")</td>
        <td class="total-value numeric table-foot">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.allTax)</td>
    </tr>
    </tbody>
</table>

  <h2>@messages("label.payment_breakdown")</h2>
  <table class="responsive-table margin-bottom-30">
    <thead>
    <tr>
        <th scope="col">@messages("label.tax_type")</th>
        <th class="numeric" scope="col">
            <span class="table-25">@messages("label.amount_paid")</span></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>@messages("label.customs")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.customs)</td>
    </tr>

    <tr>
        <td>@messages("label.excise_val")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.excise)</td>
    </tr>

    <tr>
        <td>@messages("label.vat")</td>
        <td class="numeric">&pound;@formatMonetaryValue(calculatorResponse.calculation.vat)</td>
    </tr>
    <tr>
        <td class="total table-foot">@messages("label.total")</td>
        <td class="total-value numeric table-foot">&pound;@formatMonetaryValue(calculatorResponse.calculation.allTax)</td>
    </tr>
    </tbody>
  </table>



  <div class="panel panel-border-wide margin-top-30">@messages("label.declaration.no_tax_duty")</div>

  <h2 class="heading-medium">@messages("heading.what_to_do_in_uk")</h2>

  <p>@messages("label.declaration.go_to_green")</p>

  <h2 class="heading-medium">@messages("heading.amending_declaration")</h2>

  <p>@messages("label.declaration.use_online_service")</p>

  <p>@messages("label.declaration.goods_to_declare")</p>

  <p>@messages("label.declaration.remove_goods")
   <a href="https://www.gov.uk/guidance/refunds-and-waivers-on-customs-debt" target="_blank">@messages("text.read_more_about_refunds")</a></p>
  <br>

  <p>
    <a href="https://www.tax.service.gov.uk/feedback/passengers" target="_blank">@messages("label.declaration.what_you_think_of_service")</a>
      @messages("label.declaration.take_x_seconds")
  </p>




}
