input[type="text"].autocomplete__input {
    width: 100%;
}

table .title {
  font-weight: bold;
}

label.inline {
  display: inline;
}

.add-more {
    margin-top: 0.85em;
    margin-bottom: 2.75em;
}


.responsive-table {
  width: 100%;
}

.responsive-table tfoot th,
.responsive-table tfoot td {
  font-weight: 700;
}

.responsive-table .table-heading {
  display: none;
}

h1 span.heading-medium {
  display: block;
  margin-top:-5px;
}

/*
 * Vertical Spacing
 * Eventually move to using https://design-system.service.gov.uk/styles/spacing/
 */

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}