input[type="text"].autocomplete__input {
    width: 100%;
}

table .title {
  font-weight: bold;
}

label.inline {
  display: inline;
}

.add-more {
    margin-top: 0.85em;
    margin-bottom: 2.75em;
}