@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(
    govukLayout: templates.GovukLayoutWrapper,
    errorSummary: components.errorSummary,
    yesNoRadio: components.yesNoRadio,
    button: components.button,
    formHelper: FormWithCSRF
)

@(form: Form[Boolean], backLink: Option[String])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@govukLayout(pageTitle = Some(title(form, "heading.arriving-ni")), backLink = backLink) {

    @formHelper(action = routes.ArrivingNIController.postArrivingNIPage()) {

        @errorSummary(form.errors)

        @yesNoRadio(form, "heading.arriving-ni", name = "arrivingNI", isPageHeading= true)

        @button("label.continue")

    }
}
