@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(isBringingDutyFreeForm: Form[BringingDutyFreeDto], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("heading.are_you_bringing_in_duty_free_"), isBringingDutyFreeForm.hasErrors), backLink = backLink) {

    @views.html.tags.errors(isBringingDutyFreeForm)

    @form(action = routes.TravelDetailsController.dutyFreePost()){

        <fieldset>
            <legend>
                <h1 class="heading-xlarge">@messages("heading.are_you_bringing_in_duty_free_")</h1>
            </legend>

            <div class="panel panel-border-wide" id="panel">
                <p>@messages("label.select_yes_any_any_alcohol_or_tobacco_")</p>
            </div>

            @components.input_radio_group(
                isBringingDutyFreeForm("isBringingDutyFree"),
                Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                '_labelClass -> "block-label inputLabelBeforeError",
                '_inline -> true
            )

            <div class="form-group">
                <button class="button" type="submit">@messages("label.continue")</button>
            </div>

        </fieldset>

    }

}
