@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(ageOver17Form: Form[AgeOver17Dto], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("label.are_you_17_or_over"), ageOver17Form.hasErrors), backLink = backLink) {

    @views.html.tags.errors(ageOver17Form)

    @form(action = routes.TravelDetailsController.confirmAgePost()){

        <fieldset>
            <legend>
                <h1 class="heading-xlarge">@messages("label.are_you_17_or_over")</h1>
            </legend>

            @components.input_radio_group(
                ageOver17Form("ageOver17"),
                Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                '_labelClass -> "block-label inputLabelBeforeError",
                '_inline -> true
            )

        </fieldset>

        <div class="form-group">
            <button class="button" type="submit">@messages("label.continue")</button>
        </div>

    }

}
