@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(privateCraftForm: Form[PrivateCraftDto])(implicit request: Request[_], messages: Messages)

@main_template(title = messages("label.did_you_arrive_in_the_uk_by_private_boat_")) {

    @form(action = routes.TravelDetailsController.privateCraftPost()){

        @views.html.tags.errors(privateCraftForm)

        <div class="form-group inline">

            <fieldset>
                <legend>
                    <h1 class="heading-xlarge">@messages("label.did_you_arrive_in_the_uk_by_private_boat_")</h1>
                </legend>

            @components.input_radio_group(
                privateCraftForm("privateCraft"),
                Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                '_labelClass -> "block-label inputLabelBeforeError"
            )
            </fieldset>

        </div>

        <div class="form-group">
            <button class="button" type="submit">@messages("label.continue")</button>
        </div>
    }


}
