@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(ageOver17Form: Form[AgeOver17Dto])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("label.are_you_17_or_over")) {

    @form(action = routes.TravelDetailsController.confirmAgePost()){

        @views.html.tags.errors(ageOver17Form)


        <fieldset>
            <legend>
                <h1 class="heading-xlarge">@messages("label.are_you_17_or_over")</h1>
            </legend>

            @components.input_radio_group(
                ageOver17Form("ageOver17"),
                Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                '_labelClass -> "block-label inputLabelBeforeError",
                '_inline -> true
            )

            <div class="form-group">
                <button class="button" type="submit">@messages("label.continue")</button>
            </div>

        </fieldset>

    }

}
