@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(f: Form[EuCountryCheckDto])(implicit request: Request[_], messages: Messages)

@import util.prefixErrorMessage


@main_template(title = prefixErrorMessage(messages("heading.are_you_bringing_in_goods_from_"), f.hasErrors), timeout = false) {

  @views.html.tags.errors(f)

  <h1 class="heading-xlarge">@messages("heading.are_you_bringing_in_goods_from_")</h1>

  <h2 class="heading-medium margin-top-0">@messages("heading.eu_countries")</h2>
  <p>@messages("text.eu_countries")</p>

  <h2 class="heading-medium">@messages("heading.non_eu_countries")</h2>
  <p>@messages("text.non_eu_countries")</p>
  <p>@messages("text.channel_bot_canary")</p>
  <div class="panel panel-border-wide">@messages("label.if_you_are_bringing_in_goods_from_both")</div>

  @form(action = routes.TravelDetailsController.whereGoodsBoughtPost()) {

    <fieldset>
      <legend class="visually-hidden">@messages("heading.are_you_bringing_in_goods_from_")</legend>

      @components.input_radio_group(
        f("euCountryCheck"),
        Seq("euOnly" -> Messages("label.eu_countries_only"), "nonEuOnly" -> Messages("label.non_eu_countries_only"), "greatBritain" -> Messages("label.great_britain")),
        Symbol("greatBritain") -> messages("label.if_you_are_bringing_good_from_Great_Britain")
      )
    </fieldset>

    <div class="form-group">
      <button class="button" type="submit">@messages("label.continue")</button>
    </div>
  }
}
