@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(
  govukLayout: templates.GovukLayoutWrapper,
  errorSummary: components.errorSummary,
  inputRadioPanel: components.inputRadioPanel,
  button: components.button,
  formHelper: FormWithCSRF,
  h1: components.h1
)

@(form: Form[EuCountryCheckDto], backLink: Option[String])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@govukLayout(pageTitle = Some(title(form, "heading.are_you_bringing_in_goods_from_")), backLink = backLink) {

    @formHelper(action = routes.TravelDetailsController.whereGoodsBoughtPost()) {

    @errorSummary(form.errors)

    @inputRadioPanel(
        form = form,
        legend = messages("heading.are_you_bringing_in_goods_from_"),
        name = "euCountryCheck",
        hint = Some(Html(messages(s"label.if_you_are_bringing_in_goods_from_both"))),
        items = Seq(
                RadioItem(id = Some("euCountryCheck-eu"),
                  value = Some("euOnly"),
                  content = Text(messages("label.eu_countries_only")),
                  hint =  Some(Hint(content = Text(messages("text.eu_countries")))),
                  checked = form("euCountryCheck").value.contains("euOnly")
                ),
                RadioItem(id = Some("euCountryCheck-nonEu"),
                  value = Some("nonEuOnly"),
                  content = Text(messages("label.non_eu_countries_only")),
                  hint = Some(Hint(content = Text(messages("text.non_eu_countries")))),
                  checked = form("euCountryCheck").value.contains("nonEuOnly")
                ),
                RadioItem(id = Some("euCountryCheck-gb"),
                  value = Some("greatBritain"),
                  content = Text(messages("label.great_britain")),
                  hint = Some(Hint(content = Text(messages("text.great_britain")))),
                  checked = form("euCountryCheck").value.contains("greatBritain")
                )
        ),
    )

    @button("label.continue")

  }
}

