@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(eUEvidenceItemForm: Form[Boolean], backLink: Option[String], path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("heading.evidence_eu_item"), eUEvidenceItemForm.hasErrors), backLink = backLink) {

@views.html.tags.errors(eUEvidenceItemForm)


@form(action = routes.EUEvidenceController.postEUEvidenceItemPage(path,iid)){

<fieldset>
    <legend>
        <h1 class="heading-xlarge">@messages("heading.evidence_eu_item")</h1>
    </legend>
    <p>@messages("text.evidence_include")</p>
    <ul class="list list-bullet">
        <li>
            @messages("label.packaging_or_label")
        </li>
        <li>
            @messages("label.item_is_handmade")
        </li>
        <li>
            @messages("label.documents_by_seller")
        </li>
        <li>
            @messages("label.statement_on_origin")
        </li>
    </ul>

    <div class="panel panel-border-wide">
        <p>@messages("label.appropriate_evidence")</p>
    </div>

    @components.input_radio_group(
    eUEvidenceItemForm("eUEvidenceItem"),
    Seq("true" -> Messages("label.yes"),
    "false" -> Messages("label.no")),
    '_labelClass -> "block-label inputLabelBeforeError",
    '_inline -> true
    )

    <div class="form-group">
        <button class="button" type="submit">@messages("label.continue")</button>
    </div>

</fieldset>

}

}
