@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@()(implicit request: Request[_], messages: Messages)

@main_template(title = messages("heading.you_do_not_need_to_use_this_service"), bodyClasses = None) {
  <h1 class="heading-xlarge">@messages("heading.you_do_not_need_to_use_this_service")</h1>
  <p>@messages("text.if_you_are_sure_the_goods_")</p>
  <p>@messages("text.if_you_want_to_see_the_tax_due_on_")<a href=@controllers.routes.TravelDetailsController.privateCraft()> @messages("text.continue_to_use_our_service_")</a>.</p>
}
