@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(
    govukLayout: templates.GovukLayoutWrapper,
    h1: components.h1,
    p: components.p
)
@(backLink: Option[String])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@govukLayout(pageTitle = Some(messages("heading.no_need_to_use") + " - " + messages("service.name") + " - " + messages("site.govuk")), backLink = backLink) {

  @h1(messages("heading.no_need_to_use"))

  @p{@messages("text.you_do_not_need_to_declare_goods")}

    <ul class="govuk-list govuk-list--bullet">
      <li>@messages("text.are_only_bringing_in_goods")</li>
      <li>@messages("text.have_paid_vat_excise")</li>
      <li>@messages("text.are_uk_resident")</li>
    </ul>
}
