@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(uccReliefForm: Form[Boolean], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("heading.ucc"), uccReliefForm.hasErrors), backLink = backLink) {

@views.html.tags.errors(uccReliefForm)


@form(action = routes.UccReliefController.postUccReliefPage()){


    <h1 class="heading-xlarge">@messages("heading.ucc")</h1>

    <p>@messages("label.ucc.first_message")</p>

    <ul class="list list-bullet">
        <li>@messages("text.ucc.item_1")</li>
        <li>@messages("text.ucc.item_2")</li>
        <li>@messages("text.ucc.item_3")</li>
        <li>@messages("text.ucc.item_4")</li>
        <li>@messages("text.ucc.item_5")</li>
        <li>@messages("text.ucc.item_6")</li>
        <li>@messages("text.ucc.item_7")</li>
        <li>@messages("text.ucc.item_8")</li>
        <li>@messages("text.ucc.item_9")</li>
    </ul>

    <p>@messages("label.ucc.second_message")</p>

    <ul class="list list-bullet">
        <li>@messages("text.ucc.item_10")</li>
        <li>@messages("text.ucc.item_11")</li>
        <li>@messages("text.ucc.item_12")</li>
        <li>@messages("text.ucc.item_13")</li>
    </ul>

    <p>@messages("label.ucc.third_message")</p>

    <fieldset>
        <legend class="heading-medium">@messages("heading.ucc.all_goods_qs")</legend>

        @components.input_radio_group(
        uccReliefForm("isUccRelief"),
        Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
        '_labelClass -> "block-label inputLabelBeforeError",
        '_inline -> true
        )

        <div class="form-group">
            <button class="button" type="submit">@messages("label.continue")</button>
        </div>
    </fieldset>

}

}
