@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(uKVatPaidForm: Form[Boolean], backLink: Option[String],path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("heading.is_uk_vat_paid_item"), uKVatPaidForm.hasErrors), backLink = backLink) {

@views.html.tags.errors(uKVatPaidForm)

@form(action = routes.UKVatPaidController.postItemUKVatPaidPage(path,iid)){

    <fieldset>
        <legend>
            <h1 class="heading-xlarge">@messages("heading.is_uk_vat_paid_item")</h1>
        </legend>

        @components.input_radio_group(
        uKVatPaidForm("isUKVatPaid"),
        Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
        '_labelClass -> "block-label inputLabelBeforeError",
        '_inline -> true,
        '_error_id -> "isUKVatPaid-error-message",
        '_errorPrefix -> messages("label.error")
        )
    </fieldset>

    <div class="form-group">
        <button class="button" type="submit">@messages("label.continue")</button>
    </div>

}

}
