@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(dtoForm: Form[AlcoholDto], product: ProductTreeLeaf, path: ProductPath, iid: Option[String], countries: List[Country], currencies: List[Currency])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import play.api.libs.json.{JsObject, Json}
@import util.prefixErrorMessage

@scriptElem = {
  <script src="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.js")"></script>
  <script>
    $(document).ready(function () {

      // Get IE or Edge browser version
      var version = detectIE()

      if (version !== 11) {
        var countrySynonymsData = @Html( Json.toJson(countries.map(_.toAutoCompleteJson)).toString )
        enhanceSelectIntoAutoComplete("country", countrySynonymsData);
        var currenciesSynonymsData = @Html( Json.toJson(currencies.map(_.toAutoCompleteJson)).toString )
        enhanceSelectIntoAutoComplete("currency", currenciesSynonymsData);
      }
    })
  </script>
}

@linkElem = {
  <link rel="stylesheet" href="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.css")" >
}

@main_template(
    title = prefixErrorMessage(messages("label.tell_us_about_the") + " " + messages(s"label.${path.toMessageKey}").toLowerCase(), dtoForm.hasErrors),
    inlineScript = Some(scriptElem),
    inlineLinkElem = Some(linkElem)) {

  @views.html.tags.errors(dtoForm, None)

  <h1 class="heading-xlarge">
    <span class="heading-secondary">@messages("label.tell_us_about_the")</span>
    @messages(s"label.${path.toMessageKey}")
  </h1>

  @form(action = iid.fold(routes.AlcoholInputController.processAddForm(path))(iid => routes.AlcoholInputController.processEditForm(iid)) ) {

    @components.input(
      field = dtoForm("weightOrVolume"),
      '_inputDetails -> messages(s"label.if_you_do_not_know_the_exact_volume_or_price"),
      '_inputDetailsHidden -> messages(s"label.you_cannot_use_this_service_"),
      '_label -> messages(s"label.total_volume_in_litres"),
      '_labelTextClass -> "form-label"
    )

    @components.select(
      field = dtoForm("country"),
      elementOptions = ("","") :: countries.map(c => (c.code,messages(c.countryName))),
      displayEmptyValue = true,
      '_label -> messages("label.country_this_alcohol_was_"),
      '_inputHint -> messages("label.if_you_bought_this_alcohol_"),
      '_errorsAboveInput -> true
    )

    @components.select(
      field = dtoForm("currency"),
      elementOptions = ("","") :: currencies.map(c => (c.code ,messages(c.displayName))),
      displayEmptyValue = true,
      '_label -> messages("label.currency_used_to_buy_this_alcohol"),
      '_errorsAboveInput -> true
    )

    @components.input(
      field = dtoForm("cost"),
      '_label -> messages(s"label.price_paid"),
      '_labelTextClass -> "form-label"
    )

    <div class="form-group">
      <button type="submit" class="button" name="action" value="continue">@messages("label.continue")</button>
    </div>

    <div class="form-group">
      <a href="@routes.SelectProductController.nextStep">@messages("label.cancel")</a>
    </div>

  }

}
