@(costForm: Form[CostDto], product: ProductTreeLeaf, path: ProductPath, iid: String, volume: BigDecimal, currency: String)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@title = {
    @messages("label.alcohol.how_much_did_you_pay_", volume, product.name.toLowerCase())
}

@main_template(title = title.toString) {

    <h1 class="heading-xlarge">@title.toString</h1>

    @helpers.form(action = routes.AlcoholInputController.processCostInput(path, iid)) {

        <div class="form-group">
            @helpers.input(
                costForm("cost"),
                '_label -> messages("label.price_in", currency),
                '_labelTextClass -> "form-label",
                '_inputClass -> "form-control-1-8"
            )
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="@messages("label.continue")">
        </div>
    }

}