@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(costForm: Form[CostDto], product: ProductTreeLeaf, path: ProductPath, iid: String, volume: BigDecimal, currency: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@pageTitle = {
    @messages(s"label.page_title.how_much_did_you_pay_.${path.toMessageKey}")
}

@unit = {
@{if(volume == 1) messages("label.litre") else messages("label.litres")}
}


@title = {
@messages(s"label.how_much_did_you_pay_for_the_.${path.toMessageKey}", volume, unit)
}

@main_template(title = pageTitle.toString) {

    @views.html.tags.errors(costForm)

    <h1 class="heading-xlarge">@title.toString</h1>

    @form(action = routes.AlcoholInputController.processCostInput(path, iid)) {

        <div class="form-group">
            @components.input(
                costForm("cost"),
                '_label -> messages("label.price_in", currency),
                '_labelTextClass -> "form-label",
                '_inputClass -> "form-control-1-4"
            )
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="@messages("label.continue")">
        </div>
    }

}