@(currencyForm: Form[CurrencyDto], product: ProductTreeLeaf, path: ProductPath, iid: String, currencies: List[Currency], volume: BigDecimal)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._
@import play.api.mvc.Call
@import models.{Currency, CurrencyDto}

@scriptElem = {
    <script src="@routes.Assets.at("javascripts/accessible-autocomplete.min.js")"></script>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState == "interactive") {
                accessibleAutocomplete.enhanceSelectElement({
                  selectElement: document.querySelector('#currency')
                })
            }
        }
    </script>
}

@linkElem = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/accessible-autocomplete.min.css")" >
}

@title = {
    @messages("label.alcohol.what_currency_did_you_use_", volume, product.name.toLowerCase())
}

@main_template(title = title.toString, inlineScript = Some(scriptElem), inlineLinkElem = Some(linkElem)) {


    <h1 class="heading-xlarge">@title.toString</h1>

    @helpers.form(action = routes.AlcoholInputController.processCurrencyInput(path, iid)){


    @components.select(
        field = currencyForm("currency"),
        elementOptions = ("","") :: currencies.map(c => (c.value.getOrElse("GBP") ,c.displayName)),
        displayEmptyValue = true,
        '_label -> Messages("label.enter_currency"),
        '_errorsAboveInput -> true
    )

        <details class="form-group">
            <summary><span class="summary">@messages("label.if_the_currency_you_used_is_not_shown")</span></summary>
            <div class="panel panel-border-narrow">
                <p>@messages("label.you_cannot_use_this_service_")</p>
            </div>
        </details>

        <div class="form-group">
            <input type="submit" class="button" value="@messages("label.continue")">
        </div>

    }

}
