@(volumeInput: Form[VolumeDto], productName: String, token: String, path: ProductPath, index: Int)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@product = {
  @if(token == "sparkling") {
    sparkling, fortified wine
  } else {
    @productName.toLowerCase()
  }
}

@title = {
  @messages("alcohol.volume_input.heading", productName.toLowerCase())
}

@main_template(title = title.toString, bodyClasses = None) {

  @helpers.form(action = routes.AlcoholInputController.processVolumeInput(path, index)){

    <fieldset>
      <legend><h1 class="heading-xlarge">@title.toString</h1></legend>

      <div class="panel panel-border-wide" id="panel">
        <p>@messages(s"alcohol.volume_input.panel.${token}.1")</p>
        <p>@messages(s"alcohol.volume_input.panel.${token}.2")</p>
      </div>

      <div class="form-group">
        @helpers.input(
          volumeInput("volume"),
          '_label -> messages("alcohol.volume_input.form.label"),
          '_labelTextClass -> "form-label",
          '_inputClass -> "form-control-1-8"
        )
      </div>

      <details class="form-group">
        <summary><span class="summary">@messages("hidden_text.volume_input.summary")</span></summary>
        <div class="panel panel-border-narrow">
          <p>@messages("hidden_text.you_cant_use_service")</p>
        </div>
      </details>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </fieldset>
  }

}