@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(volumeInput: Form[VolumeDto], productName: String, token: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._


@title = {
  @messages(s"label.what_is_the_volume_of_.${path.toMessageKey}")
}

@main_template(title = title.toString, bodyClasses = None) {

  @form(action = routes.AlcoholInputController.processVolumeInput(path, iid)){

    <h1 class="heading-xlarge">@title.toString</h1>


      @if(!(token contains "cider")){
      <div class="panel panel-border-wide" id="panel">
        <p>@messages(s"alcohol.volume_input.panel.${token}.1")</p>
        <p>@messages(s"alcohol.volume_input.panel.${token}.2")</p>
      </div>
      }

    <div class="form-group">
      @input(
        volumeInput("volume"),
        '_label -> messages("label.volume_in_litres"),
        '_labelTextClass -> "form-label",
        '_inputClass -> "form-control-1-8"
      )
    </div>

    <details class="form-group">
      <summary><span class="summary">@messages("label.if_you_do_not_know_the_volume")</span></summary>
      <div class="panel panel-border-narrow">
        <p>@messages("label.you_cannot_use_this_service_")</p>
      </div>
    </details>

    <div class="form-group">
      <input type="submit" class="button" value="@messages("label.continue")">
    </div>
  }

}