@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, appConfig: config.AppConfig, displayItem: views.html.components.display_item)
@(journeyData: JourneyData,
  alcoholPurchasedItemList: List[PurchasedItem],
  tobaccoPurchasedItemList: List[PurchasedItem],
  otherGoodsPurchasedItemList: List[PurchasedItem],
  previousAlcoholPurchasedItemList: List[PurchasedItem],
  previousTobaccoPurchasedItemList: List[PurchasedItem],
  previousOtherGoodsPurchasedItemList: List[PurchasedItem],
  showCalculate: Boolean,
  isAmendment: Boolean,
  backLink: Option[String],
  isIrishBorderQuestionEnabled: Boolean,
  isGbNi: Boolean,
  isEU: Boolean,
  isUkResident: Boolean
)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util._

@main_template(title = messages("label.tell_us_about_the_goods_"), backLink = backLink) {

  <h1 class="heading-xlarge">@messages("label.tell_us_about_the_goods_")</h1>
  <p id="foreign-currency"> @messages("label.about_foreign_currencies") </p>

  <dl class="govuk-check-your-answers cya-questions-short">  </dl>

  <div class="alcohol">
    <h2 class="heading-medium">@messages("label.alcohol")</h2>
    @if(alcoholPurchasedItemList.isEmpty && previousAlcoholPurchasedItemList.isEmpty){
      <p>
        <a href="@routes.SelectProductController.clearAndAskProductSelection(ProductPath("alcohol"))" class="add">@messages("label.add_alcohol")</a>
      </p>
    } else {
      <div class="add-more">
        <a href="@routes.SelectProductController.clearAndAskProductSelection(ProductPath("alcohol"))" class="add">@messages("label.add_alcohol")</a>
      </div>
      @alcoholPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
          @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "alcohol")
        }
      }
      @if(previousAlcoholPurchasedItemList.length > 0){
        <p class="heading-small previous-alcohol">@messages("label.previously_declared_alcohol")</p>
        <br>
      }
      @previousAlcoholPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
          @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "alcohol")
        }
      }
    }
  </div>

  <div class="tobacco">
    <h2 class="heading-medium">@messages("label.tobacco")</h2>
    @if(tobaccoPurchasedItemList.isEmpty && previousTobaccoPurchasedItemList.isEmpty){
      <p>
        <a href="@routes.SelectProductController.clearAndAskProductSelection(ProductPath("tobacco"))" class="add">@messages("label.add_tobacco")</a>
      </p>
    } else {
        <div class="add-more">
          <a href="@routes.SelectProductController.clearAndAskProductSelection(ProductPath("tobacco"))" class="add">@messages("label.add_tobacco")</a>
        </div>
        @tobaccoPurchasedItemList.map { purchasedItem =>
          @purchasedItem.descriptionArgs(long = true).map( args => messages(args._1, args._2: _*) ).map { description =>
            @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "tobacco")
          }
        }
        @if(previousTobaccoPurchasedItemList.length > 0){
          <p class="heading-small previous-tobacco">@messages("label.previously_declared_tobacco")</p>
          <br>
        }
        @previousTobaccoPurchasedItemList.map { purchasedItem =>
          @purchasedItem.descriptionArgs(long = true).map( args => messages(args._1, args._2: _*) ).map { description =>
            @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "tobacco")
        }
      }
    }
  </div>

  <div class="other-goods">
    <h2 class="heading-medium">@messages("label.other_goods")</h2>
    @if(otherGoodsPurchasedItemList.isEmpty && previousOtherGoodsPurchasedItemList.isEmpty) {
      <p>
        <a href="@routes.OtherGoodsSearchController.clearAndSearchGoods">@messages("label.add_other_goods")</a>      </p>
    } else if((otherGoodsPurchasedItemList.size + previousOtherGoodsPurchasedItemList.size) < appConfig.maxOtherGoods) {
      <div class="add-more">
        <a href="@routes.OtherGoodsSearchController.clearAndSearchGoods">@messages("label.add_other_goods")</a>
      </div>
    } else if((otherGoodsPurchasedItemList.size + previousOtherGoodsPurchasedItemList.size)  == appConfig.maxOtherGoods) {
      <div class="panel panel-border-wide">
        <p>@messages("label.you_can_continue_to_calculate_taxes_and_duties_if_you_have_no_more_than_50_other_goods_to_declare_")</p>
      </div>
    } else if((otherGoodsPurchasedItemList.size + previousOtherGoodsPurchasedItemList.size) > appConfig.maxOtherGoods) {
      <div class="panel panel-border-wide">
        <p>@messages("label.you_can_only_calculate_taxes_and_duties_on_50_other_goods_or_fewer_")</p>
      </div>
    }
      @otherGoodsPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
          @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "otherGoods")
        }
      }
      @if(previousOtherGoodsPurchasedItemList.length > 0){
        <p class="heading-small previous-othergoods">@messages("label.previously_declared_other_goods")</p>
        <br>
      }
      @previousOtherGoodsPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
          @displayItem(purchasedItem, description, isEU, isGbNi, isUkResident, "otherGoods")
      }
    }
  </div>

  @if(showCalculate && (otherGoodsPurchasedItemList.size + previousOtherGoodsPurchasedItemList.size) <= appConfig.maxOtherGoods) {
    @if(isIrishBorderQuestionEnabled) {
      <a href="@routes.CalculateDeclareController.irishBorder()" class="button margin-top-30">@messages("label.calculate")</a>
    }else if(isAmendment){
      @form(action = routes.CalculateDeclareController.calculate()) {
        <button id="calculate-btn1" type="submit" class="button margin-top-30">@messages("label.calculate_change_in_tax_and_duties")</button>}
    }else {
      @form(action = routes.CalculateDeclareController.calculate()) {
        <button id="calculate-btn" type="submit" class="button margin-top-30">@messages("label.calculate")</button>
      }
    }
  }
}
