@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(journeyData: JourneyData,
  alcoholPurchasedItemList: List[PurchasedItem],
  tobaccoPurchasedItemList: List[PurchasedItem],
  otherGoodsPurchasedItemList: List[PurchasedItem],
  showCalculate: Boolean,
  backLink: Option[String],
  isIrishBorderQuestionEnabled: Boolean
)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util._

@main_template(title = messages("label.tell_us_about_the_goods_"), backLink = backLink) {

  <h1 class="heading-xlarge">@messages("label.tell_us_about_the_goods_")</h1>

  <dl class="govuk-check-your-answers cya-questions-short">  </dl>

  <div class="alcohol">
    <h3 class="heading-medium">@messages("label.alcohol")</h3>

    @if(alcoholPurchasedItemList.isEmpty){
      <p>
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("alcohol"))" class="add">@messages("label.add_alcohol")</a>
      </p>
    } else {

      <div class="add-more">
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("alcohol"))" class="add">@messages("label.add_alcohol")</a>
      </div>

      @alcoholPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
          <dl class="govuk-check-your-answers cya-questions-short margin-bottom-15">
            <div class="product-item">
              <dt class="cya-question">@messages("label.item")</dt>
              <dd class="cya-answer">@description</dd>
            </div>
            <div class="product-country">
              <dt class="cya-question">@messages("label.country")</dt>
              <dd class="cya-answer">@messages(purchasedItem.countryName.mkString)</dd>
            </div>
            <div class="product-price">
              <dt class="cya-question">@messages("label.price")</dt>
              <dd class="cya-answer">
                @purchasedItem.purchasedProductInstance.cost.map(c => formatMonetaryValue(c)) @messages(purchasedItem.displayCurrency)
              </dd>
            </div>
          </dl>
          <div class="margin-bottom-20">
            <a href="@routes.AlcoholInputController.displayEditForm(purchasedItem.purchasedProductInstance.iid)">@messages("label.edit_this_item") <span class="visually-hidden">@description</span></a>
          </div>
          <div class="margin-bottom-50">
            <a href="@routes.AlterProductsController.confirmRemove(purchasedItem.purchasedProductInstance.path, purchasedItem.purchasedProductInstance.iid)">@messages("label.remove_this_item") <span class="visually-hidden">@description</span></a>
          </div>
        }
      }
    }

  </div>

  <div class="tobacco">

    <h3 class="heading-medium">@messages("label.tobacco")</h3>

    @if(tobaccoPurchasedItemList.isEmpty){
      <p>
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("tobacco"))" class="add">@messages("label.add_tobacco")</a>
      </p>
    } else {

      <div class="add-more">
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("tobacco"))" class="add">@messages("label.add_tobacco")</a>
      </div>

      @tobaccoPurchasedItemList.map { purchasedItem =>
        @purchasedItem.descriptionArgs(long = true).map( args => messages(args._1, args._2: _*) ).map { description =>
          <dl class="govuk-check-your-answers cya-questions-short margin-bottom-15">
            <div class="product-item">
              <dt class="cya-question">@messages("label.item")</dt>
              <dd class="cya-answer">@description</dd>
            </div>
            <div class="product-country">
              <dt class="cya-question">@messages("label.country")</dt>
              <dd class="cya-answer">@messages(purchasedItem.countryName.mkString)</dd>
            </div>
            <div class="product-price">
              <dt class="cya-question">@messages("label.price")</dt>
              <dd class="cya-answer">
                @purchasedItem.purchasedProductInstance.cost.map(c => formatMonetaryValue(c)) @messages(purchasedItem.displayCurrency)
              </dd>
            </div>
          </dl>
          <div class="margin-bottom-20">
            <a href="@routes.TobaccoInputController.displayEditForm(purchasedItem.purchasedProductInstance.iid)">@messages("label.edit_this_item") <span class="visually-hidden">@description</span></a>
          </div>
          <div class="margin-bottom-50">
            <a href="@routes.AlterProductsController.confirmRemove(purchasedItem.purchasedProductInstance.path, purchasedItem.purchasedProductInstance.iid)">@messages("label.remove_this_item") <span class="visually-hidden">@description</span></a>
          </div>
        }
      }
    }

  </div>


  <div class="other-goods">
    <h3 class="heading-medium">@messages("label.other_goods")</h3>

    @if(otherGoodsPurchasedItemList.isEmpty) {
      <p>
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("other-goods"))" class="add">@messages("label.add_other_goods")</a>
      </p>
    } else if(otherGoodsPurchasedItemList.size < 50) {
      <div class="add-more">
        <a href="@routes.SelectProductController.askProductSelection(ProductPath("other-goods"))" class="add">@messages("label.add_other_goods")</a>
      </div>
    } else if(otherGoodsPurchasedItemList.size == 50) {
      <div class="panel panel-border-wide">
        <p>@messages("label.you_can_continue_to_calculate_taxes_and_duties_if_you_have_no_more_than_50_other_goods_to_declare_")</p>
      </div>
    } else {
      <div class="panel panel-border-wide">
        <p>@messages("label.you_can_only_calculate_taxes_and_duties_on_50_other_goods_or_fewer_")</p>
      </div>
    }
    @otherGoodsPurchasedItemList.map { purchasedItem =>
      @purchasedItem.descriptionArgs(long = false).map( args => messages(args._1, args._2: _*) ).map { description =>
        <dl class="govuk-check-your-answers cya-questions-short margin-bottom-15">
          <div class="product-item">
            <dt class="cya-question">@messages("label.item")</dt>
            <dd class="cya-answer">@description</dd>
          </div>
          <div class="product-country">
            <dt class="cya-question">@messages("label.country")</dt>
            <dd class="cya-answer">@messages(purchasedItem.countryName.mkString)</dd>
          </div>
          <div class="product-price">
            <dt class="cya-question">@messages("label.price")</dt>
            <dd class="cya-answer">
                @purchasedItem.purchasedProductInstance.cost.map(c => formatMonetaryValue(c)) @messages(purchasedItem.displayCurrency)
            </dd>
          </div>
        </dl>
        <div class="margin-bottom-20">
          <a href="@routes.OtherGoodsInputController.displayEditForm(purchasedItem.purchasedProductInstance.iid)">@messages("label.edit_this_item") <span class="visually-hidden">@description</span></a>
        </div>
        <div class="margin-bottom-50">
          <a href="@routes.AlterProductsController.confirmRemove(purchasedItem.purchasedProductInstance.path, purchasedItem.purchasedProductInstance.iid)">@messages("label.remove_this_item") <span class="visually-hidden">@description</span></a>
        </div>
      }
    }

  </div>

  @if(showCalculate && otherGoodsPurchasedItemList.size <= 50) {

    @if(isIrishBorderQuestionEnabled) {
      <a href="@routes.CalculateDeclareController.irishBorder()" class="button margin-top-30">@messages("label.calculate")</a>
    } else {
      @form(action = routes.CalculateDeclareController.calculate()) {
        <button type="submit" class="button margin-top-30">@messages("label.calculate")</button>
      }
    }
  }
}
