@(calculatorResponseDto: CalculatorResponseDto, showExchangeRateInfo: Boolean)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@main_template(title = messages("done.page_title", calculatorResponseDto.calculation.allTax)) {

  <h1 class="heading-xlarge">@Html(messages("done.h1", calculatorResponseDto.calculation.allTax))</h1>

  <table class="responsive-table" role="grid">
    <caption class="heading-medium margin-top-0">@messages("done.duty_and_tax_to_pay")</caption>
    <thead>
      <tr role="row">
        <th scope="col">@messages("done.label.item")</th>
        <th scope="col">@messages("done.label.currency")</th>
        <th class="numeric" scope="col">@messages("done.label.amount")</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="total-row" role="row">
        <th class="total" role="gridcell" colspan="2">@messages("done.label.total")</th>
        <td class="total-value numeric" role="gridcell">&pound;@calculatorResponseDto.calculation.allTax</td>
      </tr>
    </tfoot>
    <tbody>
      @calculatorResponseDto.bands.get("A").map { band =>
        @band.map { item =>
          <tr role="row">
            <th scope="row" role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.item")</span>
              @item.metadata.description
            </td>
            <td role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.currency")</span>
              @item.metadata.cost @item.metadata.currency
            </td>
            <td role="gridcell" class="numeric">
              <span class="table-heading" aria-hidden="true">@messages("done.label.amount")</span>
              @messages("done.label.included_in_allowance")
            </td>
          </tr>
        }
      }
      @calculatorResponseDto.bands.get("B").map { band =>
        @band.map { item =>
          <tr role="row">
            <th scope="row" role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.item")</span>
              @item.metadata.description
            </td>
            <td role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.currency")</span>
              @item.metadata.cost @item.metadata.currency
            </td>
            <td role="gridcell" class="numeric">
              <span class="table-heading" aria-hidden="true">@messages("done.label.amount")</span>
              &pound;@item.calculation.allTax
            </td>
          </tr>
        }
      }
      @calculatorResponseDto.bands.get("C").map { band =>
        @band.map { item =>
          <tr role="row">
            <th scope="row" role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.item")</span>
              @item.metadata.description
            </td>
            <td role="gridcell">
              <span class="table-heading" aria-hidden="true">@messages("done.label.currency")</span>
              @item.metadata.cost @item.metadata.currency
            </td>
            <td role="gridcell" class="numeric">
              <span class="table-heading" aria-hidden="true">@messages("done.label.amount")</span>
              &pound;@item.calculation.allTax
            </td>
          </tr>
        }
      }
    </tbody>
  </table>


  <table class="responsive-table">
    <caption class="heading-medium">@messages("done.how_total_calculated")</caption>
    <thead>
      <tr role="row">
        <th scope="col">@messages("done.label.tax")</th>
        <th class="numeric" scope="col">@messages("done.label.amount")</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="total-row" role="row">
        <th class="total" role="gridcell">@messages("done.label.total")</th>
        <td class="total-value numeric" role="gridcell">&pound;@calculatorResponseDto.calculation.allTax</td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>@messages("done.label.customs")</td>
        <td class="numeric">&pound;@calculatorResponseDto.calculation.customs</td>
      </tr>
      <tr>
        <td>@messages("done.label.excise")</td>
        <td class="numeric">&pound;@calculatorResponseDto.calculation.excise</td>
      </tr>
      <tr>
        <td>@messages("done.label.vat")</td>
        <td class="numeric">&pound;@calculatorResponseDto.calculation.vat</td>
      </tr>
    </tbody>
  </table>

  @if(showExchangeRateInfo) {
    <p class="margin-top-30">@Html(messages("done.exchange_rates"))</p>
  }

  <h2 class="heading-medium">@messages("done.what_you_need_to_do_next")</h2>

  <p>@messages("done.red_channel")</p>

  <p>
    <a href="@controllers.routes.TravelDetailsController.newSession()">@messages("done.link.start_again")</a>
  </p>

}
