@(confirmRemoveForm: Form[ConfirmRemoveDto], productName: String, path: ProductPath, iid: String)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@title = {
  @messages(s"label.do_you_want_to_remove_.${path.toMessageKey}")
}


@main_template(title = title.toString) {

@helpers.form(action = routes.AlterProductsController.remove(path, iid)){

  @views.html.tags.errors(confirmRemoveForm)

  <div class="form-group inline">

    <fieldset>
      <legend>
        <h1 class="heading-xlarge">@title.toString</h1>
      </legend>

      @components.input_radio_group(
        confirmRemoveForm("confirmRemove"),
        Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
        '_labelClass -> "block-label inputLabelBeforeError"
      )
    </fieldset>

  </div>

  <div class="form-group">
    <button class="button" type="submit">@messages("label.continue")</button>
  </div>
}

}
