@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(selectProductsForm: Form[SelectProductsDto], checkboxes: List[(String, String)], path: ProductPath)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@title = {
    @messages(s"select_products.heading.${path.toMessageKey}")
}

@main_template(title = title.toString, bodyClasses = None) {

    @views.html.tags.errors(selectProductsForm, Some(path))

    <h1 class="heading-xlarge">@title.toString</h1>

    @form(action = routes.SelectProductController.processProductSelection(path)){

        @if(path.toString contains "cider"){
        <div class="panel panel-border-wide" id="panel">
            <p>@messages("alcohol.volume_input.panel.cider.1")</p>
            <p>@messages("alcohol.volume_input.panel.cider.2")</p>
        </div>
        }

        @if(path.toString endsWith "other-goods"){
        <div class="panel panel-border-wide" id="panel">
            <p>@messages("other-goods.volume_input.panel.1")</p>
            <p>@messages("other-goods.volume_input.panel.2")</p>
        </div>
        }

        <div class="form-group">

            <fieldset>

                <legend>
                    <span class="visually-hidden">@title.toString</span>
                    <span class="body-text">@messages("label.select_all_that_apply")</span>
                </legend>

                @components.input_check_box(
                    selectProductsForm("tokens"),
                    inputs = checkboxes,
                    Some(path)
                )
            </fieldset>

        </div>

        <div class="form-group">
            <button type="submit" class="button">@messages("label.continue")</button>
        </div>

    }
}
