@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(
    govukLayout: templates.GovukLayoutWrapper,
    button: components.button,
    formHelper: FormWithCSRF,
    h1: components.h1,
    checkboxes: components.inputCheckboxes,
    radios: components.otherGoodsInputRadio,
    otherGoodsErrorSummary : components.otherGoodsErrorSummary,
    p: components.p,
)

@(selectProductsForm: Form[SelectProductsDto], items: List[(String, String)], path: ProductPath)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@govukLayout(pageTitle = Some(title(selectProductsForm, messages(s"select_products.heading.${path.toMessageKey}")))) {

    @formHelper(action = routes.SelectProductController.processProductSelection(path)) {

    @otherGoodsErrorSummary(selectProductsForm.errors, Some(path.toMessageKey))

    @h1(messages(s"select_products.heading.${path.toMessageKey}"))

    @p(Html(messages("label.select_all_that_apply")))

            @if(path.toMessageKey.contains("alcohol") || path.toMessageKey.contains("tobacco")){
                @checkboxes(
                    field = selectProductsForm("tokens"),
                    path = Some(path),
                    inputs = checkBoxOptions(items)
                )
            } else {
                    @radios(
                        field = selectProductsForm("tokens"),
                        items= radioOptions(items),
                        name= "tokens",
                        path= Some(path)
                )
            }

    @button("label.continue")
    }
}
