@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(selectProductsForm: Form[SelectProductsDto], checkboxes: List[(String, String)], path: ProductPath)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@title = {
    @messages(s"select_products.heading.${path.toMessageKey}")
}

@main_template(title = prefixErrorMessage(title.toString, selectProductsForm.hasErrors), bodyClasses = None) {

    @views.html.tags.errors(selectProductsForm, Some(path))

    @form(action = routes.SelectProductController.processProductSelection(path)){

        <div class="form-group">

            <fieldset aria-describedby="product-hint">

                <legend>
                    <h1 class="heading-xlarge">@title.toString</h1>
                </legend>

                <span id="product-hint" class="body-text">@messages("label.select_all_that_apply")</span>

                @components.input_check_box(
                    selectProductsForm("tokens"),
                    inputs = checkboxes,
                    Some(path),
                    errorPrefix = Some(messages("label.error"))
                )
            </fieldset>

        </div>

        <div class="form-group">
            <button type="submit" class="button">@messages("label.continue")</button>
        </div>

    }
}
