@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template)
@(calculatorResponseDto: CalculatorResponseDto, hideExchangeRateInfo: Boolean, backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import util._

@main_template(title = messages("label.tax_due_on_these_goods"), backLink = backLink) {

<h1 class="heading-xlarge margin-bottom-20">@messages("label.tax_due_on_these_goods")<br><span class="total-value numeric">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.allTax)</span></span></h1>

<p>@messages("label.no_tax_or_duty")</p>

<table class="responsive-table margin-bottom-30">
    <thead>
    <tr>
        <th scope="col">@messages("label.item")</th>
        <th scope="col">@messages("label.price")</th>
        <th class="numeric" scope="col">
            <span class="table-25">@messages("label.tax_due")</span>
        </th>
    </tr>
    </thead>
    <tbody>
        @calculatorResponseDto.items.map { item =>
        <tr>
            <th scope="row">
                <span class="table-heading" aria-hidden="true">@messages("label.item")</span>
                @messages(item.metadata.description)
            </th>
            <td>
                <span class="table-heading" aria-hidden="true">@messages("label.price")</span>
                @formatMonetaryValue(item.metadata.cost) @messages(item.metadata.currency.displayName)
            </td>
            <td class="numeric">
                <span class="table-heading" aria-hidden="true">@messages("label.tax_due")</span>
                &pound;@formatMonetaryValue(item.calculation.allTax)
            </td>
        </tr>
        }
        <tr>
            <td class="total table-foot" colspan="2">@messages("label.total")</td>
            <td class="total-value numeric table-foot">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.allTax)</td>
        </tr>
    </tbody>
</table>

<details class="margin-bottom-20" role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="summary">@messages("label.how_the_tax_was_calculated")</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">

        <table class="responsive-table">
            <thead>
            <tr>
                <th scope="col">@messages("label.tax_type")</th>
                <th class="numeric" scope="col">
                    <span class="table-25">@messages("label.tax_due")</span>
                </th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@messages("label.customs")</td>
                    <td class="numeric">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.customs)</td>
                </tr>

                <tr>
                    <td>@messages("label.excise")</td>
                    <td class="numeric">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.excise)</td>
                </tr>

                <tr>
                    <td>@messages("label.vat")</td>
                    <td class="numeric">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.vat)</td>
                </tr>

                <tr>
                    <td class="total table-foot">@messages("label.total")</td>
                    <td class="total-value numeric table-foot">&pound;@formatMonetaryValue(calculatorResponseDto.calculation.allTax)</td>
                </tr>
            </tbody>
        </table>
        
        <p class="margin-top-30">
            @messages("label.we_use") <a href = "https://www.gov.uk/government/collections/exchange-rates-for-customs-and-vat" target="_blank">@messages("label.exchange_rates")</a>
            @messages("label.to_make_this_calculation")
        </p>

        </div>
    </details>

    <h2 class="heading-medium">@messages("label.what_you_need_to_do_next")</h2>

    <div class="panel panel-border-wide">
        <p>@messages("label.still_need_to_declare")</p>
    </div>

    <p>@messages("label.declare_upto_72_hours")</p>

    <p class="margin-bottom-30">
        <a class="button" href="@controllers.routes.CalculateDeclareController.declareYourGoods()">
            @messages("label.declare_your_goods")</a>
    </p>

<p><a href="@controllers.routes.DashboardController.showDashboard()">@messages("label.change_your_answers")</a></p>
<p><a href="@controllers.routes.TravelDetailsController.newSession()">@messages("label.start_again")</a></p>
}
