@(ageOver17Form: Form[AgeOver17Dto])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("title.are_you_17_or_over")) {

    @helpers.form(action = routes.TravelDetailsController.confirmAgePost()){

        @views.html.tags.errors(ageOver17Form)

        <div class="form-group inline">

            <fieldset>
                <legend>
                    <h1 class="heading-xlarge">@messages("title.are_you_17_or_over")</h1>
                </legend>

            @components.input_radio_group(
                ageOver17Form("ageOver17"),
                Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
                '_labelClass -> "block-label inputLabelBeforeError"
            )
            </fieldset>

        </div>

        <div class="form-group">
            <button class="button" type="submit">@messages("global.continue_button")</button>
        </div>
    }

}
