@(userData: JourneyData, products: List[(String, String)])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@main_template(title = messages("title.dashboard"), bodyClasses = None) {

  <a id="back-button" class="link-back" href="@controllers.routes.TravelDetailsController.privateCraft()">@messages("global.back")</a>

  <h1 class="heading-xlarge">@messages("title.dashboard")</h1>

  @for(product <- products) {

    <h2 class="heading-large">@messages(s"dashboard.product_heading.${product._2}")</h2>

    <table class="cart">
      <tbody>
        <tr>
          <td class="title">@messages(s"dashboard.no_products_added.${product._2}")</td>
          <td class="info-answer"></td>
          <td class="numeric"><a href="products/@product._2" id="add-@product._2">@messages("button.add")</a></td>
        </tr>
      </tbody>
    </table>

  }

  <h2 class="heading-large">@messages("dashboard.your_travel_information")</h2>
  <table id="travel-details">
    <tbody>
      <tr>
        <td class="title">@messages("dashboard.country_of_purchase")</td>
        <td class="info-answer">@userData.country</td>
      </tr>
      <tr>
        <td class="title">@messages("dashboard.17_or_over")</td>
        <td class="info-answer">@{if(userData.ageOver17.getOrElse("None") == true) messages("label.yes") else messages("label.no")}</td>
      </tr>
      <tr>
        <td class="title">@messages("dashboard.private_travel")</td>
        <td class="info-answer">@{if(userData.privateCraft.getOrElse("None") == true) messages("label.yes") else messages("label.no")}</td>
      </tr>
    </tbody>
  </table>
}
