@(journeyData: JourneyData,
  alcoholPurchasedProductDetailsList: List[PurchasedProductDetails],
  tobaccoPurchasedProductDetailsList: List[PurchasedProductDetails],
  otherGoodsPurchasedProductDetailsList: List[PurchasedProductDetails])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@main_template(title = messages("title.dashboard"), bodyClasses = None) {

  <h1 class="heading-xlarge">@messages("title.dashboard")</h1>

  <div class="alcohol">
    <h2 class="heading-large">@messages("dashboard.product_heading.alcohol")</h2>

    <table class="cart">
      <tbody>
      @if(alcoholPurchasedProductDetailsList == List()){
        <tr>
          <td class="title">@messages("dashboard.no_products_added.alcohol")</td>
          <td class="info-answer"></td>
          <td class="numeric">
            <a href="products/alcohol" class="add">@messages("button.add")</a>
          </td>
        </tr>
      } else {
        @alcoholPurchasedProductDetailsList.map{ alcoholPurchasedProductDetail =>
          <tr>
            <td class="">@alcoholPurchasedProductDetail.productDescription</td>
            <td class="info-answer">@alcoholPurchasedProductDetail.purchasedProductInstance.cost @alcoholPurchasedProductDetail.currencyDisplayName</td>
          </tr>
        }
      }

      </tbody>
    </table>

    @if(alcoholPurchasedProductDetailsList != List()){
      <div class="add-more">
        <a href="products/alcohol" class="add">@messages("button.add.alcohol")</a>
      </div>
    }
  </div>

  <div class="tobacco">
    <h2 class="heading-large">@messages("dashboard.product_heading.tobacco")</h2>

    <table class="cart">
      <tbody>
      @if(tobaccoPurchasedProductDetailsList == List()){
        <tr>
          <td class="title">@messages("dashboard.no_products_added.tobacco")</td>
          <td class="info-answer"></td>
          <td class="numeric">
            <a href="products/tobacco" class="add">@messages("button.add")</a>
          </td>
        </tr>
      } else {
      @tobaccoPurchasedProductDetailsList.map{ tobaccoPurchasedProductDetail =>
          <tr>
            <td class="">@tobaccoPurchasedProductDetail.productDescription</td>
            <td class="">@tobaccoPurchasedProductDetail.displayWeight</td>
            <td class="info-answer">@tobaccoPurchasedProductDetail.purchasedProductInstance.cost @tobaccoPurchasedProductDetail.currencyDisplayName</td>
          </tr>
        }
      }
      </tbody>
    </table>

    @if(tobaccoPurchasedProductDetailsList != List()){
      <div class="add-more">
        <a href="products/tobacco" class="add">@messages("button.add.tobacco")</a>
      </div>
    }
  </div>


  <div class="other-goods">
    <h2 class="heading-large">@messages("dashboard.product_heading.other-goods")</h2>

    <table class="cart">
      <tbody>
      @if(otherGoodsPurchasedProductDetailsList == List()){
        <tr>
          <td class="title">@messages("dashboard.no_products_added.other-goods")</td>
          <td class="info-answer"></td>
          <td class="numeric">
            <a href="products/other-goods" class="add">@messages("button.add")</a>
          </td>
        </tr>
      } else {
      @otherGoodsPurchasedProductDetailsList.map{ otherGoodsPurchasedProductDetail =>
        <tr>
          <td class="">@otherGoodsPurchasedProductDetail.productDescription</td>
          <td class="info-answer">@otherGoodsPurchasedProductDetail.purchasedProductInstance.cost @otherGoodsPurchasedProductDetail.currencyDisplayName</td>
        </tr>

        }
      }
      </tbody>
    </table>

    @if(otherGoodsPurchasedProductDetailsList != List()){
      <div class="add-more">
        <a href="products/other-goods" class="add">@messages("button.add.other-goods")</a>
      </div>
    }
  </div>

  <h2 class="heading-large">@messages("dashboard.your_travel_information")</h2>
  <table id="travel-details">
    <tbody>
      <tr>
        <td class="title">@messages("dashboard.country_of_purchase")</td>
        <td class="info-answer">@journeyData.country</td>
      </tr>
      <tr>
        <td class="title">@messages("dashboard.17_or_over")</td>
        <td class="info-answer">@{if(journeyData.ageOver17.getOrElse("None") == true) messages("label.yes") else messages("label.no")}</td>
      </tr>
      <tr>
        <td class="title">@messages("dashboard.private_travel")</td>
        <td class="info-answer">@{if(journeyData.privateCraft.getOrElse("None") == true) messages("label.yes") else messages("label.no")}</td>
      </tr>
    </tbody>
  </table>
}
