@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(costForm: Form[CostDto], product: ProductTreeLeaf, path: ProductPath, iid: String, currency: String)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@title = {
    @messages(s"label.how_much_did_you_pay_.${path.toMessageKey}")
}


@main_template(title = title.toString) {

    @views.html.tags.errors(costForm, Some(path))

    <h1 class="heading-xlarge">@title.toString</h1>

    @form(action = routes.OtherGoodsInputController.processCostInput(path, iid)) {

        <input type="hidden" name="itemsRemaining" value="@costForm("itemsRemaining").value">

        <div class="form-group">
            @components.input(
                costForm("cost"),
                '_label -> messages("label.price_in", currency),
                '_labelTextClass -> "form-label",
                '_inputClass -> "form-control-1-4",
                '_productName -> path.toMessageKey
            )
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>
    }

}