@(countryForm: Form[SelectedCountryDto], product: ProductTreeLeaf, path: ProductPath, iid: String, countries: List[Country])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._


@scriptElem={
    <script src="@routes.Assets.at("javascripts/accessible-autocomplete.min.js")"></script>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState == "interactive") {
                accessibleAutocomplete.enhanceSelectElement({
                  selectElement: document.querySelector('#country')
                })
            }
        }
    </script>
}

@linkElem={
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/accessible-autocomplete.min.css")" >
}

@main_template(
    title = messages("label.where_did_you_buy_goods"),
    bodyClasses = None,
    inlineScript = Some(scriptElem),
    inlineLinkElem = Some(linkElem)) {

    @views.html.tags.errors(countryForm)

    <h1 class="heading-xlarge">@messages("label.other-goods.where_did_you_buy_this_", product.name.toLowerCase())</h1>

    <div class="panel panel-border-wide">@messages("text.if_you_have_bought_goods_from_more_")</div>

    @helpers.form(action = routes.OtherGoodsInputController.processCountryInput(path, iid)){

        <input type="hidden" name="itemsRemaining" value="@countryForm("itemsRemaining").value">

            @components.select(
                field = countryForm("country"),
                elementOptions = ("","") :: countries.map(c => (c.countryName,c.countryName)),
                displayEmptyValue = true,
                '_label -> Messages("label.enter_country"),
                '_errorsAboveInput -> true
            )

        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div>

    }
}
