@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(dtoForm: Form[OtherGoodsDto], iid: Option[String], countries: List[Country], countriesEU: List[Country], currencies: List[Currency], journeyStart: Option[String], otherGoodsSearchItems: List[OtherGoodsSearchItem], otherItemMode: String, path: ProductPath)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import play.api.libs.json.{JsObject, Json}
@import util.prefixErrorMessage

@scriptElem = {
  <script src="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.js")"></script>
  <script>
    $(document).ready(function () {

      // Get IE or Edge browser version
      var version = detectIE();

      if (version !== 11) {
      @if(otherItemMode.equals("create")){
        var products = @Html(Json.toJson(otherGoodsSearchItems.map(_.toAutoCompleteJson)).toString );
        enhanceSelectIntoAutoComplete("searchTerm", products);
        }

        var countrySynonymsData = @Html( Json.toJson(countries.map(_.toAutoCompleteJson)).toString )
        enhanceSelectIntoAutoComplete("country", countrySynonymsData)

        var currenciesSynonymsData = @Html( Json.toJson(currencies.map(_.toAutoCompleteJson)).toString )
        enhanceSelectIntoAutoComplete("currency", currenciesSynonymsData)

        var countryEUSynonymsData = @Html( Json.toJson(countriesEU.map(_.toAutoCompleteJson)).toString )
        enhanceSelectIntoAutoComplete("originCountry", countryEUSynonymsData);


      }
    });
  </script>
}

@linkElem = {
  <link rel="stylesheet" href="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.css")" >
}

@title = @{ otherItemMode match { case "create" =>  messages("label.tell_us_about_the") + " " + messages("label.other-goods.item-of-other-goods") case "edit" => messages("label.tell_us_about_the") + " " + messages(s"label.${path.toMessageKey}") case _ => messages("label.tell_us_about_the") + " " + messages("label.other-goods.item-of-other-goods")}}
@heading = @{ otherItemMode match { case "create" => messages("label.other-goods.item-of-other-goods") case "edit" => messages(s"label.${path.toMessageKey}") case _ => messages("label.other-goods.item-of-other-goods")}}
@main_template(
    title = prefixErrorMessage(title, dtoForm.hasErrors),
    inlineScript = Some(scriptElem),
    inlineLinkElem = Some(linkElem)) {

  @views.html.tags.errors(dtoForm)

  <h1 class="heading-xlarge">
    <span class="heading-secondary">@messages("label.tell_us_about_the")</span>
    @heading
  </h1>

  @form(action = iid.fold(routes.OtherGoodsInputController.processAddForm)(iid => routes.OtherGoodsInputController.processEditForm(iid)) ) {
  @if(otherItemMode.equals("create")){
    @components.select(
      field = dtoForm("searchTerm"),
      elementOptions = ("","") :: otherGoodsSearchItems.map(p => (p.name, messages(p.name))),
      displayEmptyValue = true,
      '_label -> messages("label.add_your_goods"),
      '_errorsAboveInput -> true,
      '_error_id -> "search-error-message",
      '_errorPrefix -> messages("label.error")
    )

     <div class="panel panel-border-narrow">
        <p>
          @messages("label.search_through_our_lists_and")
          <a href="@routes.SelectProductController.askProductSelection(ProductPath("other-goods"))" class="add">@messages("label.categorise_your_goods_yourself")</a>
        </p>
      </div>
  }
     @components.select(
      field = dtoForm("country"),
      elementOptions = ("","") :: countries.map(c => (c.code, messages(c.countryName))),
      displayEmptyValue = true,
      '_label -> messages("label.country_the_item_was_bought_in"),
      '_inputHint -> messages("label.if_you_bought_this_item_"),
      '_errorsAboveInput -> true,
      '_error_id -> "country-error-message",
      '_errorPrefix -> messages("label.error")
    )

    @if(journeyStart.contains("euOnly")){
      @components.select(
        field = dtoForm("originCountry"),
        elementOptions = ("","") :: countriesEU.map(c => (c.code,messages(c.countryName))),
        displayEmptyValue = true,
        '_label -> messages("label.country_the_item_was_produced_in"),
        '_inputHint -> messages("label.country_the_item_was_produced_hint"),
        '_errorsAboveInput -> true,
        '_error_id -> "originCountry-error-message",
        '_errorPrefix -> messages("label.error")
      )
    }

    @components.select(
      field = dtoForm("currency"),
      elementOptions = ("","") :: currencies.map(c => (c.code, messages(c.displayName))),
      displayEmptyValue = true,
      '_label -> messages("label.currency_used_to_buy_the_item"),
      '_errorsAboveInput -> true,
      'name -> "currency_source",
      '_error_id -> "currency-error-message",
      '_errorPrefix -> messages("label.error")
    )

    @components.input(
      field = dtoForm("cost"),
      '_label -> messages(s"label.price_paid"),
      '_labelTextClass -> "form-label",
      '_error_id -> "cost-error-message",
      '_errorPrefix -> messages("label.error")
    )


    <div class="form-group">
      <button type="submit" id="other-goods-input-button" class="button" name="action" value="continue">@messages("label.continue")</button>
    </div>

    <div class="form-group">
      <a href="@routes.SelectProductController.cancel">@messages("label.cancel")</a>
    </div>

  }

}
