@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input, appConfig: config.AppConfig)
@(dtoForm: Form[OtherGoodsSearchDto], otherGoodsSearchItems: List[OtherGoodsSearchItem], productAliases: List[ProductAlias])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import play.api.libs.json.{JsObject, Json}
@import util.prefixErrorMessage

@scriptElem = {
  <script src="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.js")"></script>
  <script>
    $(document).ready(function () {

      // Get IE or Edge browser version
      var version = detectIE();

      if (version !== 11) {
        var products = @Html(Json.toJson(otherGoodsSearchItems.map(_.toAutoCompleteJson)).toString );
        enhanceSelectIntoAutoComplete("searchTerm", products, true);
      }

      $('button[value="add"]').remove();
      $('.result-list').each(function() {
        $(this).insertAfter($(this).prev());
      });

      $('form').keydown(function(event){
        console.log(event);
        if(event.keyCode == 13 && event.target.id == 'searchTerm') {
          event.preventDefault();
          return false;
        }
      });

    });
  </script>
}

@linkElem = {
  <link rel="stylesheet" href="@routes.Assets.versioned("lib/accessible-autocomplete/dist/accessible-autocomplete.min.css")" >
}

@main_template(
  title = messages("label.what_other_goods_are_"),
  inlineScript = Some(scriptElem),
  inlineLinkElem = Some(linkElem)) {

  <a class="link-back" id="back" href="@routes.DashboardController.showDashboard()">@messages("label.back")</a>

  @views.html.tags.errors(dtoForm)

  <legend class="heading-xlarge">@messages("label.what_other_goods_are_")</legend>

  @form(action = routes.OtherGoodsSearchController.processSearchGoods() ) {

    @if(productAliases.size < appConfig.maxOtherGoods){

      @components.select(
        field = dtoForm("searchTerm"),
        elementOptions = ("","") :: otherGoodsSearchItems.map(p => (p.name, messages(p.name))),
        displayEmptyValue = true,
        '_label -> messages("label.add_your_goods"),
        '_errorsAboveInput -> true
      )

      <button type="submit" class="button margin-bottom-20" name="action" value="add">Add</button>
    }

    @if(productAliases.size < appConfig.maxOtherGoods) {
      <details class="margin-bottom-20" role="group">

        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">@messages("label.if_there_are_no_search_results_")</span>
        </summary>


        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
          <p>
            @messages("label.search_through_our_lists_and")
            <a href="@routes.SelectProductController.askProductSelection(ProductPath("other-goods"))" class="add">@messages("label.categorise_your_goods_yourself")</a>
          </p>
        </div>

      </details>
    } else {
      <div class="panel panel-border-wide">
        <p>@messages("label.you_can_continue_to_calculate_taxes_and_duties_if_you_have_no_more_than_50_other_goods_to_declare_")</p>
      </div>
    }

    @if(!productAliases.isEmpty) {
    <div class="form-group result-list">
      <table class="govuk-table margin-bottom-30">
        <tbody class="govuk-table__body">
        @for( (productAlias, index) <- productAliases.zipWithIndex ) {
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">@messages(productAlias.term)</th>
          <td class="govuk-table__cell right-aligned">
            <button type="submit" class="button btn-link" name="remove" value="@index" style="margin: 0">Remove</button>
          </td>
        </tr>
        }
        </tbody>
      </table>
    </div>
    }

    <div class="form-group">
      <button type="submit" class="button" name="action" value="continue">@messages("label.continue")</button>
    </div>

  }
}
