@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(quantityForm: Form[QuantityDto], token: String, productName: String, path: ProductPath)(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._

@title = {
  @messages(s"label.how_many_.${path.toMessageKey}")
}

@main_template(title = title.toString, bodyClasses = None) {

  @views.html.tags.errors(quantityForm, Some(path))

  <h1 class="heading-xlarge">@title.toString</h1>

  @form(action = routes.OtherGoodsInputController.processQuantityInput(path)) {

    <div class="form-group">
      @components.input(
        quantityForm("quantity"),
        '_label -> messages("other-goods.quantity_input.heading", productName.toLowerCase()),
        '_labelTextClass -> "visually-hidden",
        '_inputClass -> "form-control-1-4",
        '_productName -> path.toMessageKey
      )
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  }
}
