@(quantityForm: Form[QuantityDto], token: String, productName: String, path: ProductPath)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@title = {
  @messages(s"label.how_many_.${path.toMessageKey}")
}

@main_template(title = title.toString, bodyClasses = None) {


  @helpers.form(action = routes.OtherGoodsInputController.processQuantityInput(path)) {

    <fieldset>
      <legend>
          <h1 class="heading-xlarge">@title.toString</h1>
      </legend>

      <div class="form-group">
        @helpers.input(
            quantityForm("quantity"),
            '_inputClass -> "form-control-1-8",
            '_label -> messages("other-goods.quantity_input.heading", productName.toLowerCase()),
            '_labelTextClass -> "visually-hidden"
        )
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </fieldset>

  }
}
