@(quantityForm: Form[QuantityDto], token: String, productName: String, path: ProductPath)(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html._

@main_template(title = messages("other-goods.quantity_input.heading", productName.toLowerCase()), bodyClasses = None) {


  @helpers.form(action = routes.OtherGoodsInputController.processQuantityInput(path)) {

    <fieldset>
      <legend>
          <h1 class="heading-xlarge">@messages("other-goods.quantity_input.heading", productName.toLowerCase())</h1>
      </legend>
      <div class="panel panel-border-wide" id="panel">
      <p>@messages("other-goods.quantity_input.panel.1")</p>
        <p>@messages("other-goods.quantity_input.panel.2")</p>
      </div>

      <div class="form-group">
        @helpers.input(
            quantityForm("quantity"),
            '_inputClass -> "form-control-1-8",
            '_label -> messages("other-goods.quantity_input.heading", productName.toLowerCase()),
            '_labelTextClass -> "visually-hidden"
        )
      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </fieldset>

  }
}
