/*
 * Forms
 *
 */

.form-field--error {
  border-left: 5px solid #b10e1e;
  padding: 0px 0px 0px 15px;
}

.form-field--error .error-notification {
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 700;
}

.form-date .form-group-time-am-pm {
  width: 110px;
}

.form-date .form-group-time-am-pm .form-control{
  width: 100px;
}

.form-group details {
  padding-bottom: 0.25em;
}

.form-group details .panel-border-narrow:last-child{
  margin-bottom:1em;
  padding-bottom: 0.5em;
}

input[type="text"].autocomplete__input {
  width: 100%;
}

label.inline {
  display: inline;
}