@import "partials/responsive-table";
@import "partials/vertical-spacing";
@import "partials/form-errors";

input[type="text"].autocomplete__input {
  width: 100%;
}

label.inline {
  display: inline;
}

.add-more {
  margin-top: 0.85em;
  margin-bottom: 2.75em;
}

h1 span.heading-medium {
  display: block;
  margin-top: 0px;
}

.border-bottom {
  padding: .63158em 1.05263em .47368em 0;
  border-bottom: 1px solid #bfc1c3;
}
