@import "utils/responsive-table";

input[type="text"].autocomplete__input {
  width: 100%;
}

label.inline {
  display: inline;
}

.add-more {
  margin-top: 0.85em;
  margin-bottom: 2.75em;
}

dd.change-link-single {
    text-align: right;
}

h1 span.heading-medium {
  display: block;
  margin-top:-5px;
}

.border-bottom {
  padding: .63158em 1.05263em .47368em 0;
  border-bottom: 1px solid #bfc1c3;
}

/*
 * Vertical Spacing
 * Eventually move to using https://design-system.service.gov.uk/styles/spacing/
 */

.margin-top-0 {
  margin-top: 0px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.form-hint {
  margin-bottom: 10px;
}