@this(appConfig: config.AppConfig,
  layoutHead: uk.gov.hmrc.play.views.html.layouts.Head,
  layoutHeaderNav: uk.gov.hmrc.play.views.html.layouts.HeaderNav,
  layoutFooter: uk.gov.hmrc.play.views.html.layouts.Footer,
  layoutBetaBanner: uk.gov.hmrc.play.views.html.layouts.BetaBanner,
  layoutServiceInfo: uk.gov.hmrc.play.views.html.layouts.ServiceInfo,
  layoutMainContentHeader: uk.gov.hmrc.play.views.html.layouts.MainContentHeader,
  layoutMainContent: uk.gov.hmrc.play.views.html.layouts.MainContent,
  reportAProblemLink: uk.gov.hmrc.play.views.html.helpers.ReportAProblemLink,
  footerLinks: uk.gov.hmrc.play.views.html.layouts.FooterLinks,
  govUkTemplate: views.html.layouts.GovUkTemplate
)

@(title: String,
  mainClass: Option[String] = None,
  mainDataAttributes: Option[Html] = None,
  bodyClasses: Option[String] = None,
  linkElem: Option[Html] = None,
  sidebar: Html = Html(""),
  contentHeader: Option[Html] = None,
  mainContent: Html = Html(""),
  serviceInfoContent: Html = Html(""),
  scriptElem: Option[Html] = None)(implicit request: Request[_], messages: Messages)

@head = {

  @if(appConfig.googleTagManagerId != "N/A") {
    <script src="@routes.Assets.at("javascripts/gtm-temp.js")"></script>
  }

  @layoutHead(
    linkElem = linkElem,
    headScripts = None)
  <meta name="format-detection" content="telephone=no" />
}

@headerNavLinks = {
  <li><a id="homeNavHref" href="http://www.google.com" data-journey-click="primary-navigation:Click:Home">Home</a></li>
}

@insideHeader = {
    @layoutHeaderNav(
      navTitle = Some("Check tax on goods you bring into the UK"),
      navTitleLink = None,
      showBetaLink = false,
      navLinks = None)
}

@afterHeader = {
  @if(appConfig.googleTagManagerId != "N/A") {
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@appConfig.googleTagManagerId" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  }

}

@bodyEnd = {
    @layoutFooter(
      analyticsToken = Some(appConfig.analyticsToken),
      analyticsHost = appConfig.analyticsHost,
      ssoUrl = None,
      scriptElem = scriptElem,
      gaCalls = None)
}

@footerTop = {}

@betaBanner = {
    @layoutBetaBanner(
        userLoggedIn = false,
        betaFeedbackUrl = appConfig.betaFeedbackUrl,
        betaFeedbackUnauthenticatedUrl = appConfig.betaFeedbackUrl,
        showFeedbackLinkInBetaBanner = true
    )
}

@serviceInfo = {
    @layoutServiceInfo(
      betaBanner = betaBanner,
      includeGridWrapper = false,
      serviceInfoContent = Some(serviceInfoContent),
      includeHMRCBranding = false)
}

@mainContentHeader = {
    @if(contentHeader.isDefined) {
        @layoutMainContentHeader(contentHeader = contentHeader.get)
    }
}

@getHelpForm = @{reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)}

@content = {
    @layoutMainContent(
      article = mainContent,
      mainClass = mainClass,
      mainDataAttributes = mainDataAttributes,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfo,
      getHelpForm = getHelpForm,
      sidebar = sidebar)
}

@govUkTemplate(Some(title + " - Check tax on goods you bring into the UK - GOV.UK"), bodyClasses)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(footerLinks()), true)(content)
