@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  inlineScript: Option[Html] = None,
  inlineLinkElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages, appConfig: config.AppConfig)

@import uk.gov.hmrc.play.views.html.layouts

@scriptElem={
    @inlineScript
    <script src="@routes.Assets.at("javascripts/application.js")"></script>
}

@linkElem={
    @inlineLinkElem
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/passengers.css")" >
}

@serviceInfoContent = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@main = {
    <div class="grid-row">
        <div class="column-two-thirds">
            @mainContent
        </div>
    </div>

}


@govuk_wrapper(appConfig = appConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = main,
               serviceInfoContent = serviceInfoContent,
               scriptElem = Some(scriptElem),
               linkElem = Some(linkElem)
)
