@this(
  govuk_wrapper: views.html.govuk_wrapper,
  sidebar: uk.gov.hmrc.play.views.html.layouts.Sidebar
)

@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  inlineScript: Option[Html] = None,
  inlineLinkElem: Option[Html] = None
)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@scriptElem={
  <script src="@routes.Assets.versioned("javascripts/application.js")"></script>
  @inlineScript
}

@linkElem={
    @inlineLinkElem
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/passengers.css")" >
}

@serviceInfoContent = {}

@sidebarLayout = {
    @if(sidebarLinks.isDefined) {
        @sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@main = {
    <div class="grid-row">
        <div class="column-two-thirds">
            @mainContent
        </div>
    </div>

}


@govuk_wrapper(title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebarLayout,
               contentHeader = contentHeader,
               mainContent = main,
               serviceInfoContent = serviceInfoContent,
               scriptElem = Some(scriptElem),
               linkElem = Some(linkElem)
)
