@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
  govuk_wrapper: views.html.govuk_wrapper,
  sidebar: uk.gov.hmrc.play.views.html.layouts.Sidebar,
  appConfig: config.AppConfig
)

@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  inlineScript: Option[Html] = None,
  inlineLinkElem: Option[Html] = None,
  timeout: Boolean = true,
  backLink: Option[String] = None
)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@scriptElem={
  <script src="@routes.Assets.versioned("javascripts/application.js")"></script>

  @if(timeout){
    <script>
      window.GOVUK.timeoutDialog({
         timeout: 900,
         countdown: 120,
         message: '@messages("label.timeout_message")',
         keepAliveUrl: '@routes.TravelDetailsController.keepAlive',
         signOutUrl: '@routes.PublicController.timeOut',
         keepAliveButtonText: '@messages("label.keep_page_alive")',
         signOutButtonText: '@messages("label.delete_your_answer")',
      });
    </script>
  }

  @inlineScript
}

@linkElem={
    @inlineLinkElem
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/passengers.css")" >
}

@serviceInfoContent = {}

@sidebarLayout = {
    @if(sidebarLinks.isDefined) {
        @sidebar(sidebarLinks.get, Some("sidebar"))
    }
}

@main = {
  <div class="grid-row">

    <div class="column-two-thirds">

      @backLink.map { backLink =>
          <a class="link-back" id="back" href="@backLink">@messages("label.back")</a>
      }

      @mainContent

    </div>
  </div>

}

@mainContentHeader = {

  @if(appConfig.languageTranslationEnabled) {
    @views.html.language_selection(
    appConfig.languageMap,
    appConfig.routeToSwitchLanguage,
    Some("text--right flush--right"))
  }

  @if(contentHeader.isDefined) {
    @contentHeader
  }
}


@govuk_wrapper(title = title,
  mainClass = mainClass,
  bodyClasses = bodyClasses,
  sidebar = sidebarLayout,
  contentHeader = Some(mainContentHeader),
  mainContent = main,
  serviceInfoContent = serviceInfoContent,
  scriptElem = Some(scriptElem),
  linkElem = Some(linkElem)
)
