@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF, input: uk.gov.hmrc.play.views.html.helpers.Input)
@(f: Form[DeclarationRetrievalDto], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import util.prefixErrorMessage



@main_template(
  title = prefixErrorMessage(messages("heading.declaration_retrieval"), f.hasErrors), bodyClasses = None, backLink = backLink) {

  @views.html.tags.errors(f)

  <h1 class="heading-xlarge">@messages("heading.declaration_retrieval")</h1>

  <p>@messages("text.declaration_retrieval")</p>
  @form(action = routes.DeclarationRetrievalController.postDeclarationRetrievalPage()) {
      @components.input(
        f("lastName"),
        '_label -> messages("label.last_name"),
        '_labelTextClass -> "form-label-bold",
        '_inputClass -> "form-control-3-4",
        '_error_id -> "lastName-error-message",
        '_errorPrefix -> messages("label.error")
      )


      @components.input(
          f("referenceNumber"),
          '_label -> messages("label.reference_previous_declaration"),
          '_labelTextClass -> "form-label-bold",
          '_inputClass -> "form-control-3-4",
          '_inputHint -> messages("label.reference_number_hint"),
          '_error_id -> "referenceNumber-error-message",
          '_errorPrefix -> messages("label.error")
      )

      <div class="form-group">
        <button type="submit" class="button">@messages("label.retrieve_declaration")</button>
      </div>

  }
}
