@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.ViewUtils._

@this(
    govukLayout: templates.GovukLayoutWrapper,
    formHelper: FormWithCSRF,
    errorSummary: components.errorSummary,
    inputText: components.inputText,
    button: components.button,
    p: components.p,
    fieldset: components.fieldset,
)

@(form: Form[DeclarationRetrievalDto], backLink: Option[String])(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)

@govukLayout(pageTitle = Some(title(form, "heading.declaration_retrieval")), backLink = backLink) {

    @formHelper(action = routes.DeclarationRetrievalController.postDeclarationRetrievalPage()) {

    @errorSummary(form.errors)

    @fieldset("heading.declaration_retrieval") {
        @p{@messages("text.declaration_retrieval")}

        @inputText(
            form,
            id = "lastName",
            name = "lastName",
            label = "label.last_name",
            isPageHeading = false,
            classes = Some("govuk-input govuk-!-width-one-half"),
            labelClasses = Some("govuk-!-font-weight-bold")
        )

        @inputText(
            form,
            id = "referenceNumber",
            name = "referenceNumber",
            label = "label.reference_previous_declaration",
            isPageHeading = false,
            hint = Some(Html(messages("label.reference_number_hint"))),
            classes = Some("govuk-input govuk-!-width-one-half"),
            labelClasses = Some("govuk-!-font-weight-bold")
        )
    }

    @button("label.retrieve_declaration")

    }
}

