@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this(main_template: views.html.main_template, form: uk.gov.hmrc.play.views.html.helpers.FormWithCSRF)
@(previousDeclarationForm: Form[Boolean], backLink: Option[String])(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html._
@import util.prefixErrorMessage

@main_template(title = prefixErrorMessage(messages("heading.previous_declaration"), previousDeclarationForm.hasErrors), backLink = backLink) {

@views.html.tags.errors(previousDeclarationForm)


@form(action = routes.PreviousDeclarationController.postPreviousDeclarationPage()){

    <fieldset>
        <h1 class="heading-xlarge">@messages("heading.previous_declaration")</h1>

        @components.input_radio_group(
            previousDeclarationForm("prevDeclaration"),
            Seq("true" -> Messages("label.yes"), "false" -> Messages("label.no")),
            '_labelClass -> "block-label inputLabelBeforeError",
            '_inline -> true,
            '_error_id -> "prevDeclaration-error-message",
            '_errorPrefix -> messages("label.error")
        )
    </fieldset>


    <div class="form-group">
        <button class="button" type="submit">@messages("label.continue")</button>
    </div>
}

}
